body {
	min-width:1024px;
	background:#b2d562;
}

#sparkieContainer{
	display:none;
}

#info_bar{
	position: relative;
	height:70px;
	width:100%;
	overflow-x: hidden;
	overflow-y: hidden;
	background: #b2d562;
}

#detail_bar {
	background:#E1DFDF;
	height:100px;
	width: 88.7%;
	margin-left: 5%;
}
#dataTableDiv {
	margin-top:20px;
	overflow-y: scroll;
	height: 340px;
}

#session {
	margin-left: 6%;
	padding-top: 5px;
	float: left;
	font-size: 1.2em;
}
#duration {
	margin-left: 5%;
	padding-top: 5px;
	float: left;
	font-size: 1.2em;
}
#sparkieInfo {
	margin-left: 5%;
	padding-top: 5px;
	float: left;
	font-size: 1.2em;
} 

#topic{
	width:60%;
	height:98px;
	float   :left;
	margin-left:7%;
	margin-top:15px;
	padding: 0px 2px 2px 3px;    
}

#home{
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	background:#FFF;
	width:400px;
	height:50px;
	margin-left:6px;
	margin-top:13px;
	float:left;
}
#homeIcon {
	background: url('../../assets/icon.home.png') no-repeat 0 0;
	width: 18px;
	height: 16px;
	margin-left:10px;
	margin-top:10px;
	float:left;
}

#dashboardHeading{
	font-size:1.5em;
	color:#0099ff;
	float:left;
	margin-top:10px;
	margin-left:10px;
}

.icon_text{
	position: relative;
	font-size:1em;
	width: 45px;
	text-align:center;
	margin-top:35px;
}
#endSession{
	background: url('../../assets/EndSession.png') no-repeat 0 -82px;
	width: 36px;
	height: 31px;
	margin-right:-190px;
	float: right;
	margin-top:50px;
}

.icon_text1{
	position: relative;
	font-size:1.8em;
	width:178px;
	text-align:center;
	margin-top:45px;
	color:#e52e00;
}

#topic_name{
	font-size:1.8em;
	width:50%;
	color:#606062;
	float:left;
	margin-left:8%;
	margin-top:20px;
}

#totalQuestion{
	padding-top:10px;
	float: left;
	margin-left: 6%;
}

#challengeQues,#totalQuestionCorrect{
	padding-top:10px;
	float: left;
	margin-left: 6%;
}
#totalQuestionCorrect {
	margin-right:5%;
}
#totalQuestionText,#totalQuestionCorrectText,#challengeQuesText,#challengeQuesAttemptedText,#challengeQuesCorrectText {
	font-size:1.25em;
	color:#606062;
}
#totalQuestionDigit,#totalQuestionCorrectDigit,#challengeQuesAttemptedDigit,#challengeQuesCorrectDigit {
	font-size:1.25em;
	color:#e52e00;
}

#activitiesContainer{
	width:100%;
}

#clickText{
	font-size:1.25em;
	color:#000000;
	margin-left:7%;
	margin-top:10px;
}


#studentInfo {
	float:right;
	width:30%;
}
#studentInfoLower {
	width:90%;
	height:73px;
}

#childNameDiv {
	float:right;
	margin-right: 10%;
}

#prevReportText {
	width: 80px;
	text-align: center;
	padding-top: 10px;
	margin-left: 48px;
	cursor:pointer;
}
#prevReportImote {
	background: url(../../assets/lowerClass/button.previousreports.normal.png) no-repeat 0 0;
	width: 131px;
	height: 66px;
	float: right;
	font-size: 1.25em;
	margin-right: 8%;
	margin-top: -31px;
	cursor:pointer;
}

#viewComment {
	float:right;
	margin-right:50px;
	font-size:1.25em;
	cursor:pointer;
}
#viewCommentText {
	width:80px;
	text-align:center;
}

#viewCommentImote {
	background:url(../../assets/endSession/viewcomments.png) no-repeat 0 0;
	width:30px;
	height:30px;
	margin-left:25px;
}

#viewCommentUl {
    position: relative;
    margin: 0 auto;
	margin-top:5px;
    width: 68px;
    height: 3px;
    background-color: grey;
}
#viewCommentUl:after,
#viewCommentUl::after {
    position: absolute;
    top: -100%;
    left: 100%;
    margin-left: -60%;
    content: '';
    width: 0;
    height: 0;
    border-bottom: solid 6px grey;
    border-left: solid 6px transparent;
    border-right: solid 6px transparent;
}

#headingDiv {
	color:#606062;
	font-size:2em;
	text-align:center;
}

.endSessionTbl {
	text-align:center;
	font-size:14px;
	border-collapse: collapse;
}

.endSessionTbl td {
	border:1px solid #ECF4D8;
	padding:3px;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:20px;
}
.trHead {
	background:#7B7A7A;
	color:#FFF;
}
.endSessionTbl tr:first-child td:first-child {
	border:0px;
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
	border-radius:0px;
}
.endSessionTbl tr:first-child td:first-child + td {
	border:0px;
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
	border-radius:0px;
}
.endSessionTbl tr:first-child td:first-child + td + td {
	border:0px;
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
	border-radius:0px;
}
.endSessionTbl tr:first-child td:first-child + td + td + td {
	border:0px;
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
	border-radius:0px;
}

.wrongAnsIcon {
	background: url(../../assets/endSession/result.png) no-repeat 0 0;
	width: 15px;
	height: 20px;
}
.correctAnsIcon {
	background: url(../../assets/endSession/result.png) no-repeat 0 -20px;
	width: 15px;
	height: 20px;
}
.timdTestDispDiv,.activityDispDiv {
	background:#ECF4D8;
	padding-left:9%;
	padding-right:1%;
	text-align:left;
}
.timdTestLevel,.activityLevel {
	float:left;
}
.timdTestTimeTaken,.activityTimeTaken {
	float:right;
}

#copyright {
	float: left;
	font-size: 1.2em;
	margin: 5px;
	margin-top: 0px;
}
#container{
	width:94%;
	overflow-x: hidden;
	margin-left:3%;
}

.forHigherOnly {
	display:none;
}
#groupInstructionDivMain {
	font-size: 2em;
    padding: 10px 0 10px 0;
    text-align: center;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 0px 20px 20px 20px;
	background:#FFF;
}

#formContainer {
    text-align: center;
}
#topicName {
	width: 94%;
	height: 54px;
	padding: 3%;
	font-size: 20px;
	color: #0099ff;
	text-align: center;
}