#home {
	border-bottom: 1px solid #3198CA;
}

#container {
	border-top: 1px solid #3198CA;
	border-bottom: 1px solid #3198CA;
	border-left: 1px solid #3198CA;
}

#headerBar{
	width:92%;
	border-bottom:1px solid #626161;
	height: 50px;
	margin-left: 40px;
}

.arrow-black {
	width: 0; 
	height: 0;
	margin-top:25px;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-left: 6px solid #626161;
	float:left;
}

#pageText{
	font-size:1.4em;
	height:30px;
	margin-top:20px;
	color:#626161;
	margin-left:10px;
	float:left;
	font-weight:bold;
}


#topicDetails{
	font-size:1.2em;
	width:92%;
	border-bottom:1px solid #626161;
	padding-top:3px;
	padding-bottom:3px;
	color:#626161;
	margin-left:40px;
}

#pagingTable{
	position:relative;
	font-size:1.4em;
	width:95%;
	border-bottom:1px solid #626161;
	padding-top:3px;
	padding-bottom:3px;
	font-weight:bold;
	color:#626161;
	margin-left:40px;
}

.textRed{
	color:#E75903;
	font-weight:bold;
	font-size: 0.8em;
	float:right;
}

.activeDateCalender, .dueDateCalender {
display: none;
}

#selectClass{
	margin-top: 20px;
	float: right;
	visibility:hidden;
}

.topic
{
	padding-left:25px;
}
#incompleteListDiv
{
	position:absolute;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	background:#282828;
	display:none;
	color:#FFF;
	font-size:small;
}
#incompleteListUL
{
	list-style:none;
	margin:0px;
	padding:5px;
}
#incompleteListUL li
{
	font-size:11px;
}
.redText
{
	color:#FA7373;
	font-weight:bold;
}
.blueText
{
	color:#006699;
	font-weight:bold;
}
.greenText
{
	color:#00CC00;
	font-weight:bold;
}
.boldText
{
	font-weight:bold;
}

#trailContainer{
	min-height:530px;
	overflow-y:auto;
	width:100%;
}

#btnGenerate{
	width:100px;
	color:#626161;
}


table.gridtable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 2px;
	border-color: #FFFFFF;
	border-collapse: collapse;
}
table.gridtable th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #E6E6E6;
	font-weight:bold;
}
table.gridtable td {
	border-width: 2px;
	padding: 8px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #E6E6E6;
}

.gridtable{
	background-color:#E6E6E6;
	margin-left:40px;
	width:92%;
}

#squareGreen{
	width:20px;
	height:20px;
	background-color:green;
	margin-right:40px;
	float:left;
	margin-right:10px;
}

.clear{
	clear:both;
}
#squareRed{
	width:20px;
	height:20px;
	background-color:red;
	margin-right:40px;
	float:left;
	margin-right:10px;
}
#squareGray{
	width:20px;
	height:20px;
	background-color:#E6E6E6;
	margin-right:40px;
	float:left;
	margin-right:10px;
}

.textBelow{
	float:right;
	font-size:1.2em;
	margin-right:40px;
	margin-top:10px;
}

.textBelow1{
	float:left;
	font-size:1.2em;
	margin-left:40px;
	margin-bottom:10px;
	font-weight:bold;
	margin-top:10px;
}


.classTabTriangle {
width: 0;
height: 0;
border-top: 8px solid transparent;
border-bottom: 8px solid transparent;
margin-top: -0.5%;
border-left: 6px solid black;
float: left;
border-left: 8px solid #626161;
margin-right: 2%;
}

.classTab {
position: absolute;
height: 30px;
width: 46px;
border: 2px solid #626161;
background-color: #626161;
float: left;
overflow: hidden;
margin-top: -10px;
margin-left: -50px;
}

.red{
	background-color:red;
	width:100%;
	height:15px;
}

.green{
	background-color:green;
	width:100%;
	height:15px;
}