#home {
	border-bottom: 1px solid #E75903;
}


#headerBar{
	width:92%;
	height: 50px;
	margin-left: 40px;
}

.arrow-black {
	width: 0; 
	height: 0;
	margin-top:25px;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-left: 6px solid #626161;
	float:left;
}

.arrow-black1 {
	width: 0; 
	height: 0;
	margin-top:25px;
	margin-left:14%;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-left: 6px solid #626161;
	float:left;
}

#pageText{
	font-size:1.4em;
	height:30px;
	margin-top:20px;
	color:#E75903;
	margin-left:10px;
	float:left;
	font-weight:bold;
	border-bottom: 2px solid #E75903;
}

#classText{
	font-size:1.35em;
	height:30px;
	margin-top:20px;
	color:#7E7E7E;
	margin-left:10px;
	float:left;
	font-weight:bold;
}

#trailContainer{
	min-height:475px;
	overflow-y:auto;
	width:100%;
}
#questionContainer{
	background-color:#E6E6E6;
	margin-top:70px;
	margin-left:40px;
	padding-top: 5px;
	padding-bottom: 20px;
	width:95%;
}

#childDetails{
	font-size:1.3em;
	width:92%;
	border-bottom:1px solid #626161;
	padding-top:3px;
	padding-bottom:3px;
	color:#7E7E7E;
	margin-left:40px;
	float:left;
}


#pagingTable{
	position:relative;
	font-size:1.4em;
	width:95%;
	border-bottom:1px solid #626161;
	padding-top:3px;
	padding-bottom:3px;
	font-weight:bold;
	color:#626161;
	margin-left:40px;
	float:left;
}


#pagingCircleLeft,#pagingCircleRight {
	border: 1px solid #000;
	-moz-border-radius: 20px;
	-webkit-border-radius:20px;
	border-radius: 20px;
	width: 25px;
	height: 25px;
	float: right;
	font-size: 1.2em;
	text-align: center;
	margin-top:5px;
	cursor: pointer;
}
.pagingNos {
	float: right;
	padding-left:10px;
	padding-right:10px;
	padding-top:10px;
	text-align: center;
	font-size: 1em;
	cursor: pointer;
}

#pagingDiv{
	margin-top:-10px;
}


.desk_block{
	margin-left:5%;
	font-size:1.2em;
	color:#626161;
}
.question{
	font-size:1.3em;
	margin-left:1%;
	margin-right:1%;
	background-color:white;
	-webkit-box-shadow: 0px 3px 2px rgba(50, 50, 50, 0.2);
	-moz-box-shadow:    0px 3px 2px rgba(50, 50, 50, 0.2);
	box-shadow:         0px 3px 2px rgba(50, 50, 50, 0.2);
	border-bottom:1px solid black;
	margin-top:30px;
}


.option{
	width: 25px;
	text-align: center;
	font-weight:bold;
	height: 22px;
	border: 1px solid black;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	padding-top:3px;
	color:black;
	font-weight:bold;
	float:left;
}

.optionCorrect{
	background-color:green;
	color:white;
}

.optionIncorrect{
	background-color:#E75903;
	color:white;
}

.title{
	float: left;
	padding-top:2px;
	padding-right:10px;
}

.title1{
	float: left;
	padding-left:10%;
	padding-right:10px;
}

.title2{
	float: left;
	padding-right:10px;
}

.block_header{
	margin-top:20px;
}

.correctMark{
	float:right;
	background: url('../assets/studentTrail/response_correct.png') no-repeat 0 -1px;
	width: 32px;
	height: 31px;
	margin:5px;
}

.smallCircle{
	width:10px;
	height:10px;
	-moz-border-radius: 5px;
	-webkit-border-radius:5px;
	border-radius: 5px;
	background-color:white;
	border:1px solid black;
	float:left;
	margin-left:-4px;
	margin-top:-11px;
}

.red{
	background-color:#E75903;
	width:12px;
	height:12px;
	-moz-border-radius: 6px;
	-webkit-border-radius:6px;
	border-radius: 6px;
	margin-top:-13px;
}

.textRed{
	color:#E75903;
	font-weight:bold;
}

.pointer{
	cursor:pointer;
}

#download{
	font-size:0.8em;
	float: right;
	margin-right:30px;
	margin-top:5px;
}

#downloadImage{
	float: right;
	margin-right:5px;
	background: url('../assets/common/download.png') no-repeat -2px -2px;
	width: 25px;
	height: 25px;
}

table.optionTable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 2px;
	border-color: #000000;
	border-collapse: collapse;
}
table.optionTable th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #000000;
	font-weight:bold;
}
table.optionTable td {
	border-width: 2px;
	padding: 8px;
	border-style: solid;
	border-color: #000000;
}

#studentInfoLowerClass,#infoBarMiddle,#alertteacherCount {
	display:none;
}

#topBar {
	height:50px;
}
#customizeTbl {
	margin-top:20px;
}
.tblContent th {
	border:1px solid;
	font-size: 1.8em;
	color: #818180;
	font-weight: bold;
	background-color: #F2F0F1;
}

.tblContent td {
	font-size: 1.4em;
	color: black;
	/*font-weight: bold;*/
	background-color: #F2F0F1;
}

#pnlPrePostTest,#estimation,#notesDiv {
	color: #626161;
	font-weight: bold;
}
.submitBtn {
	height: 45px;
	text-align: center;
	background-color: #f26722;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid #ffffff;
	display: inline-block;
	color: #ffffff;
	font-size: 1.3em;
	padding: 6px 24px;
	text-decoration: none;
	cursor: pointer;
}

.customPoint {
	display:none;
}
