#home {
	border-bottom: 1px solid #E75903;
}

#container {
	border-top: 1px solid #E75903;
	border-bottom: 1px solid #E75903;
	border-left: 1px solid #E75903;
}

#headerBar{
	width:92%;
	border-bottom:1px solid #626161;
	height: 50px;
margin-left: 40px;
}
#moreVideos {
display: none;
}

.anchorButton {
display: block;
line-height: 32px;
height: 32px;
width: 80px;
font-weight: bold;
text-decoration: none;
background-color: #0066FF;
border-radius: 5px;
color: #FFFFFF;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
text-align: center;
border: #CCCCCC 2px solid;
}
.arrow-black {
	width: 0; 
	height: 0;
	margin-top:25px;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-left: 6px solid #626161;
	float:left;
}

.arrow-black1 {
	width: 0; 
	height: 0;
	margin-top:25px;
	margin-left:14%;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-left: 6px solid #626161;
	float:left;
}

#pageText{
	font-size:1.4em;
	height:30px;
	margin-top:20px;
	color:#626161;
	margin-left:10px;
	float:left;
	font-weight:bold;
}

#classText{
	font-size:1.35em;
	height:30px;
	margin-top:20px;
	color:#7E7E7E;
	margin-left:10px;
	float:left;
	font-weight:bold;
}

#trailContainer{
	min-height:475px;
	overflow-y:auto;
	width:100%;
}
#questionContainer{
	margin-top:78px;
	margin-left:40px;
	padding-top: 5px;
	padding-bottom: 20px;
	width:95%;
	font-size:1.2em;
}

#add{
	float: left;
	margin-top: 3%;
	cursor: pointer;
}

#circle {
	border-radius: 50%;
	width: 25px;
	height: 25px;
	margin-top: 3.5%;
	border:2px solid #9ec956;
	
	/* width and height can be anything, as long as they're equal */
}	

#plushorizontal{
	width: 15px;
	border: 1px solid #9ec956;;
	margin-top: 45%;
	margin-left: 15%;
	float: left;
}	

#plusVertical{
	height: 15px;
	width:0px;
	border-left: 1px solid #9ec956;
	border-right: 0px solid #9ec956;
	border-top: 0px solid #9ec956;
	border-bottom: 0px solid #9ec956;
	z-index: 100;
	/*margin-bottom: 45%;*/
	margin-left: 45%;
	margin-top: 20%;
}

#addComment{
	color: #9ec956;
	margin-top: 3.5%;
	margin-left: 9%;
	font-size: 1.5em;
}

#like{
	background: url('../assets/like.png') no-repeat 0 0;
	width: 30px;
	height: 56px;
	margin-right:20px;
	cursor:pointer;
	float: right;
margin-top: -25px;
}

#dislike{
	background: url('../assets/dislike.png') no-repeat 0 0;
	width: 30px;
	height: 56px;
	margin-right:10px;
	cursor:pointer;
	float: right;
margin-top: -25px;
}

.liketext{
	margin-top: 38px;
	text-align: center;
	font-weight: bold;
	font-size: 1em;
}

.videoTitle{
	font-size: 1.6em;
	padding-top: 10px;
	color: #3D3838;
	padding-bottom: 10px;
}

.videoProp{
	float:left;
	margin-right: 40px;
}

.videoName{
	padding: 8px;
	font-size: 1.2em;
	color: #3D3838;
}

.videoViews{
	padding: 8px;
	font-size: 1.2em;
	color: #3D3838;
}

#childDetails{
	font-size:16px;
	width:92%;
	border-bottom:1px solid #626161;
	padding-top:3px;
	padding-bottom:3px;
	color:#7E7E7E;
	margin-left:40px;
	float:left;
}


#pagingTable{
	position:relative;
	font-size:1.4em;
	width:95%;
	border-bottom:1px solid #626161;
	padding-top:3px;
	padding-bottom:3px;
	font-weight:bold;
	color:#626161;
	margin-left:40px;
	float:left;
}


#pagingCircleLeft,#pagingCircleRight {
	border: 1px solid #000;
	-moz-border-radius: 20px;
	-webkit-border-radius:20px;
	border-radius: 20px;
	width: 25px;
	height: 25px;
	float: right;
	font-size: 1.2em;
	text-align: center;
	margin-top:5px;
	cursor: pointer;
}
.pagingNos {
	float: right;
	padding-left:10px;
	padding-right:10px;
	padding-top:10px;
	text-align: center;
	font-size: 1em;
	cursor: pointer;
}

#pagingDiv{
	margin-top:-10px;
}


.desk_block{
	margin-left:5%;
	font-size:1.2em;
	color:#626161;
}
.question{
	font-size:1.3em;
	margin-left:1%;
	margin-right:1%;
	background-color:white;
	-webkit-box-shadow: 0px 3px 2px rgba(50, 50, 50, 0.2);
	-moz-box-shadow:    0px 3px 2px rgba(50, 50, 50, 0.2);
	box-shadow:         0px 3px 2px rgba(50, 50, 50, 0.2);
	border-bottom:1px solid black;
	margin-top:30px;
}


.option{
	width: 25px;
	text-align: center;
	font-weight:bold;
	height: 22px;
	border: 1px solid black;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	padding-top:3px;
	color:black;
	font-weight:bold;
	float:left;
}

.optionCorrect{
	background-color:green;
	color:white;
}

.optionIncorrect{
	background-color:#E75903;
	color:white;
}

.title{
	float: left;
	padding-top:2px;
	padding-right:10px;
}

.title1{
	float: left;
	padding-left:10%;
	padding-right:10px;
}

.title2{
	float: left;
	padding-right:10px;
}

.block_header{
	margin-top:20px;
}

.correctMark{
	float:right;
	background: url('../assets/studentTrail/response_correct.png') no-repeat 0 -1px;
	width: 32px;
	height: 31px;
	margin:5px;
}

.smallCircle{
	width:10px;
	height:10px;
	-moz-border-radius: 5px;
	-webkit-border-radius:5px;
	border-radius: 5px;
	background-color:white;
	border:1px solid black;
	float:left;
	margin-left:-4px;
	margin-top:-11px;
}

.red{
	background-color:#E75903;
	width:12px;
	height:12px;
	-moz-border-radius: 6px;
	-webkit-border-radius:6px;
	border-radius: 6px;
	margin-top:-13px;
}

.textRed{
	color:#E75903;
	font-weight:bold;
}

.pointer{
	cursor:pointer;
}

#download{
	font-size:0.8em;
	float: right;
	margin-right:30px;
	margin-top:5px;
}

#downloadImage{
	float: right;
	margin-right:5px;
	background: url('../assets/common/doMindspark.png') no-repeat -1px -1px;
	width: 26px;
	height: 26px;
}

table.optionTable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 2px;
	border-color: #000000;
	border-collapse: collapse;
}
table.optionTable th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #000000;
	font-weight:bold;
}
table.optionTable td {
	border-width: 2px;
	padding: 8px;
	border-style: solid;
	border-color: #000000;
}

.setPosition{
	width: 160px;
	margin-left: 25px;
	margin-top: 5px;
}

#setHeight{
	height:30px;
}

.researchModule {
	margin: 30px 0px 0px 30px;
	border-bottom: #666 thin dotted;
	padding: 5px 0px;
}

.descText {
	display: inline-block;
	font-size: small;
	color: #555;
	margin: 4px 0px 4px 0px;
}

.downloadLink, .titleLink {
	font-weight: bold;
	outline: none;
	border-bottom: 1px solid black
}

#modelView
{
	width:100%;
	height:100%;
}
#iFrame
{
	float:left;
	width:100%;
	height:85%;
	border:none;
}
#modelTitleText
{
	text-align:center;
	font-size:large;
	padding:2px 0px;
	font-weight: bold;
}
#embedText
{
	text-align:center;
	color:#FF0000;
	height:10%;
	overflow:hidden;
	font-size:small;
}
.contactText
{
	color:#999;
	display:inline-block;
	margin-top:5px;
}

.videoLink {
visibility: hidden;
}


@media (max-width: 1024px){
	.setPosition {
		width: 135px;
		font-size: 0.8em;
		margin-left: 18px;
		margin-top: 8px;
	}
}