#home{
	border-bottom: 1px solid #9ec956;
}

#container{
	/*position: relative;*/
	/*width:72.5%;*/
	min-height:800px;
	/*margin-left:27%;*/
	border-top:1px solid #9ec956;
	border-bottom:1px solid #9ec956;
	border-left:1px solid #9ec956;
	/*overflow: auto;*/
	
}

#innerContainer{
	margin-top: 2%;
	position: relative;
	margin-left: 0%;
	width:95%;
	height:95%;
	margin-left: 5%;
	/*border:1px solid #9ec956;*/
}

#containerHead{
	font-size:1.3em;
	margin-top: 1.5%;

	border-bottom:1px solid #9ec956;
	padding-bottom: 1%;
	display: block;
	
}

#triangle{
	width: 0; 
	height: 0; 
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	margin-top: 0.3%;
	float: left;
	border-left: 6px solid black;
	margin-right: 1.5%;
}

#containerBody{
	font-size:1.3em;

	margin-top: 1.5%;
	display: block;
	height: 100%;
}	


.buttons{
	margin-top: 2%;
	background-color: #9ec956;
	width: 10%;
	height: 40px;
	color: #FFFFFF;
	
}

#teacherID{
	width: 180px;
	
}

	
	