#home{
	border-bottom: 1px solid #9ec956;
}

#sideBar #home{
	margin-top: 30%;
}

#container{
	/*position: relative;
	width:72.5%;*/
	min-height:475px;
	/*margin-left:27%;*/
	border-top:1px solid #9ec956;
	border-bottom:1px solid #9ec956;
	border-left:1px solid #9ec956;
}

#innerContainer{
	margin-top: 2%;
	position: relative;
	margin-left: 0%;
	width:95%;
	height:14.3%;
	margin-left: 5%;
	/*border:1px solid #9ec956;*/
}

#containerHead{
	font-size:1.3em;
	margin-top: 1.5%;

	border-bottom:1px solid #9ec956;
	padding-bottom: 1%;
	display: block;
	
}

#triangle{
	width: 0; 
	height: 0; 
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	margin-top: 0.3%;
	float: left;
	border-left: 6px solid black;
	margin-right: 1.5%;
}

#containerBody{
	font-size:1.3em;

	margin-top: 1.5%;
	display: block;
	height: 100%;
}	



#innerContent{
	border-top: 1px solid black;
	padding-top:5%;
}

#line{
	margin-top: 0.5%;
	border:1px solid black;
	
}

#pwdtext{
	color: orange;
	font-size: 1.5em;
	
}

.pwd1{
	margin-top: 1.5%;
	float: left;
}



#plusVertical{
	height: 60%;

	width:0px;
	border-left: 1px solid orange;
	border-right: 0px solid #9ec956;
	border-top: 0px solid #9ec956;
	border-bottom: 0px solid #9ec956;
	
	/*margin-bottom: 45%;*/
	margin-left:5%;
	margin-right:5%;
	margin-top:1.5%;
	float: left;
}

.pwd2{
	margin-top: 1.5%;
	margin-left: 10%;
}	
	
#content{
	margin-top: 2%;
	margin-left: 5%;
}

.buttons{
	margin-top: 3%;
	background-color: orange;
	width: 15%;
	height: 40px;
	color: #FFFFFF;
	margin-left: 5%;
	font-size: 15px;
	
}

.changePasswordFomatting{
	font-size: 18px;
	margin-left: 5%;
	margin-top: 5%;
	width: 70%;
	height: 15%;
}


