#home{
	border-bottom: 1px solid #2f99cb;
}

#sideBar #home{
	margin-top: 30%;
}

#container{
	/*position: relative;
	width:72.5%;*/
	min-height:525px;
	/*margin-left:27%;*/
	border-top:1px solid #2f99cb;
	border-bottom:1px solid #2f99cb;
	border-left:1px solid #2f99cb;
}

#innerContainer{
	margin-top: 2%;
	position: relative;
	margin-left: 0%;
	width:95%;
	height:17.7%;
	margin-left: 5%;
	/*border:1px solid #2f99cb;*/
}

#containerHead{
	font-size:1.3em;
	margin-top: 1.5%;

	/*border-bottom:1px solid #2f99cb;*/
	padding-bottom: 1%;
	display: block;
	padding-left: 50%;
	color: red;
	
}

.videoContainer{
	margin:20px;
	padding:5px;
	width:200px;
	height:150px;
	float:left;
}

#video1{
	background: url('../assets/help/video1.png') no-repeat 0 0;
}

#video2{
	background: url('../assets/help/video2.png') no-repeat 0 0;
}

#video3{
	background: url('../assets/help/video3.png') no-repeat 0 0;
}

#video4{
	background: url('../assets/help/video4.png') no-repeat 0 0;
}

.video{
	width: 184px;
	height: 105px;
	padding-bottom:10px;
	cursor:pointer;
}

.videoText{
	padding:5px;
	text-align:center;
	background-color:green;
	font-size:1.2em;
	color:white;
	width:174px;
	border-radius:8px;
	-moz-border-radius:8px;
	-ms-border-radius:8px;
	-webkit-border-radius:8px;
	border:2px solid blue;
	cursor:pointer;
	text-decoration:none;
}
#childDetails{
	font-size:1.3em;
	width:92%;
	padding-top:3px;
	padding-bottom:3px;
	color:#7E7E7E;
	margin-left:40px;
	float:left;
}
.smallCircle{
	width:10px;
	height:10px;
	-moz-border-radius: 5px;
	-webkit-border-radius:5px;
	border-radius: 5px;
	background-color:white;
	border:1px solid black;
	float:left;
	margin-left:-4px;
	margin-top:-11px;
}

.red{
	background-color:#E75903;
	width:12px;
	height:12px;
	-moz-border-radius: 6px;
	-webkit-border-radius:6px;
	border-radius: 6px;
	margin-top:-13px;
}

.textRed{
	color:#E75903;
	font-weight:bold;
}

.pointer{
	cursor:pointer;
}

.setPosition{
	width: 160px;
	margin-left: 25px;
	margin-top: 8px;
}

#setHeight{
	height:30px;
}

@media (max-width: 1024px){
	.setPosition {
		width: 135px;
		font-size: 0.8em;
		margin-left: 18px;
		margin-top: 8px;
	}
}

	
	