#home {
	border-bottom: 1px solid #FAAC1B;
}

#container {
	border-top: 1px solid #FAAC1B;
	border-bottom: 1px solid #FAAC1B;
	border-left: 1px solid #FAAC1B;
}

#headerBar{
	width:92%;
	border-bottom:1px solid #626161;
	height: 50px;
	margin-left: 40px;
}

#pageText{
	font-size:1.4em;
	height:30px;
	margin-top:20px;
	color:#626161;
	margin-left:10px;
	float:left;
	font-weight:bold;
}

.arrow-black {
	width: 0; 
	height: 0;
	margin-top:25px;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-left: 6px solid #626161;
	float:left;
}
.arrow-black1 {
	width: 0; 
	height: 0;
	margin-top:25px;
	margin-left:14%;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-left: 6px solid #626161;
	float:left;
}

#classText{
	font-size:1.35em;
	height:30px;
	margin-top:20px;
	color:#7E7E7E;
	margin-left:10px;
	float:left;
	font-weight:bold;
}


#topicDetails{
	font-size:1.2em;
	width:92%;
	border-bottom:1px solid #626161;
	padding-top:3px;
	padding-bottom:3px;
	color:#626161;
	margin-left:40px;
}

#trailContainer{
	min-height:530px;
	overflow-y:auto;
	width:100%;
}

#btnGenerate{
	width:100px;
	color:#626161;
}


#pagingTable{
	position:relative;
	font-size:1.4em;
	width:95%;
	border-bottom:1px solid #626161;
	padding-top:3px;
	padding-bottom:3px;
	font-weight:bold;
	color:#626161;
	margin-left:40px;
}


#pagingDiv{
	margin-top:-10px;
}

.textRed{
	color:#E75903;
	font-weight:bold;
	font-size: 0.8em;
	float:left;
	margin-top:10px;
}

.textRed1{
	color:#E75903;
	font-weight:bold;
	font-size: 1em;
	float:left;
	margin-left:40px;
	margin-top:10px;
}

.pointer{
	cursor:pointer;
}

.textBlue{
	color:#2F99CB;
	font-weight:bold;
	font-size: 0.8em;
	float:right;
}

table.gridtable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 2px;
	border-color: #FFFFFF;
	clear:both;
	border-collapse: collapse;
}
.header {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #E6E6E6;
	font-weight:bold;
}
table.gridtable td {
	border-width: 2px;
	padding: 8px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #E6E6E6;
}

.gridtable{
	background-color:#E6E6E6;
	margin-left:40px;
	width:92%;
}

.classTabTriangle {
width: 0;
height: 0;
border-top: 8px solid transparent;
border-bottom: 8px solid transparent;
margin-top: -0.5%;
border-left: 6px solid black;
float: left;
border-left: 8px solid #626161;
margin-right: 2%;
}

.classTab {
position: absolute;
height: 30px;
width: 46px;
border: 2px solid #626161;
background-color: #626161;
float: left;
overflow: hidden;
margin-top: -10px;
margin-left: -50px;
}

#squarePurple{
	width:20px;
	height:20px;
	background-color:purple;
	float:left;
	margin-right:10px;
}

.purple{
	color:purple;
	font-weight:bold;
}


.textPurpleBelow{
	float:right;
	font-size:1.2em;
	color:purple;
	margin-top:10px;
}

.highest {color:#000000; background-color:#00FF00 !important; font-weight:bold;}
.lowest {color:#FFFFFF; background-color:#FF0000 !important; font-weight:bold;}

#noRecords{
	font-size: 2em;
	color: #626161;
	float: left;
	margin-top: 10%;
	margin-left: 40%;
}

#download{
	font-size:0.8em;
	float: right;
	margin-right:30px;
	margin-top:5px;
}

#downloadImage{
	float: right;
	margin-right:5px;
	background: url('../assets/common/view.png') no-repeat 1px 1px;
	width: 28px;
	height: 28px;
}

.calenderImage{
	background: url('../assets/common/dob.png') no-repeat -2px -2px;
	width: 20px;
	height: 20px;
	margin-top:2px;
	margin-left:4px;
	float: left;
}

.floatLeft{
	float:left;
}

#generateTable{
	font-size:1.2em;
	width:92%;
	border-bottom:1px solid #626161;
	padding-top:3px;
	padding-bottom:3px;
	color:#626161;
	margin-left:40px;
	float:left;
}