#topicReport {
	margin-left: 3%;
	margin-top: 20px;
}

#topicReportTable {
	width: 90%;
}

#topicReportTable thead {
	cursor: pointer;
}

#topicReportTable thead tr th.headerSortUp, #topicReportTable thead tr th.headerSortDown {
	padding-left: 25px;
}

#topicReportTable thead tr th.headerSortUp {
	background-image: url('images/down-icon.png');
	background-repeat: no-repeat;
	background-position: 5px 5px;
	padding-left: 25px;

}

#topicReportTable thead tr th.headerSortDown {
	background-image: url('images/up-icon.png');
	background-repeat: no-repeat;
	background-position: 5px 5px;
	padding-left: 25px;
}

#timedTestReport, #dailyPracticeReport,#legendDiv {
	margin-left: 3%;
	margin-top: 20px;
}

#timedTestReportTable, #dailyPracticeReportTable {
	width: 90%;
}

#timedTestReportTable thead, #dailyPracticeReportTable thead {
	cursor: pointer;
}

#timedTestReportTable thead tr th.headerSortUp, #topicReportTable thead tr th.headerSortDown,#dailyPracticeReportTable thead tr th.headerSortUp, #dailyPracticeReportTable thead tr th.headerSortDown {
	padding-left: 25px;
}

#timedTestReportTable thead tr th.headerSortUp, #dailyPracticeReportTable thead tr th.headerSortUp {
	background-image: url('images/down-icon.png');
	background-repeat: no-repeat;
	background-position: 5px 5px;
	padding-left: 25px;
}

#timedTestReportTable thead tr th.headerSortDown, #dailyPracticeReportTable thead tr th.headerSortDown {
	background-image: url('images/up-icon.png');
	background-repeat: no-repeat;
	background-position: 5px 5px;
	padding-left: 25px;
}

tfoot>tr {
	background-color: #ccc;
}

tr>th {
	padding: 10px;
	text-align: center;  
}

tr>td {
	text-align: center;  
	padding: 10px; 
	border-style: solid;
	border: 1px; 
}

#childDetails tr>td {
	text-align: left !important;  
	padding: 0px !important;  	
}

.great {
	background-color: #afffaf;
}

.good {
	background-color: #cfe6f9;
}

.average {
	background-color: #fce88f;
}

.low {
	background-color: #fc8b80;
}

.zero {
	background-color: #999;
}

.notEnoughUsage {
	background-color: #999;
}

#moreInformation {
	margin-left: 3%;
	margin-top: 20px;	
}

#misconceptionsReport {
	margin-left: 3%;
	margin-top: 20px;
	margin-bottom: 20px;	
}

#timeTestReport_message {
	text-align: center;
	margin-bottom: 20px;
}
