#home {
	border-bottom: 1px solid #E75903;
}

#container {
	border-top: 1px solid #E75903;
	border-bottom: 1px solid #E75903;
	border-left: 1px solid #E75903;
}

.arrow-black {
	width: 0; 
	height: 0;
	margin-top:25px;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-left: 6px solid #626161;
	float:left;
}

.arrow-black1 {
	width: 0; 
	height: 0;
	margin-top:25px;
	margin-left:14%;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-left: 6px solid #626161;
	float:left;
}

#pageText{
	font-size:1.4em;
	height:30px;
	margin-top:20px;
	color:#626161;
	margin-left:10px;
	float:left;
	font-weight:bold;
}

#classText{
	font-size:1.35em;
	height:30px;
	margin-top:20px;
	color:#7E7E7E;
	margin-left:10px;
	float:left;
	font-weight:bold;
}


#trailContainer{
	overflow-y:auto;
	width:100%;
}
#questionContainer{
	background-color:#E6E6E6;
	margin-top:125px;
	margin-left:40px;
	padding-top: 5px;
	padding-bottom: 20px;
	width:75%;
}


#topicDetails{
	font-size:1.2em;
	width:92%;
	border-bottom:1px solid #626161;
	padding-top:23px;
	padding-bottom:3px;
	color:#626161;
	margin-left:40px;
	float:left;
}


#pagingTable{
	position:relative;
	font-size:1.4em;
	width:75%;
	border-bottom:1px solid #626161;
	padding-top:3px;
	padding-bottom:3px;
	font-weight:bold;
	color:#626161;
	margin-left:40px;
	float:left;
}

.title{
	float: left;
	padding-top:2px;
	padding-right:10px;
}

.title1{
	float: left;
	padding-left:10%;
	padding-right:10px;
}

.title2{
	float: left;
	padding-right:10px;
}

.block_header{
	margin-top:20px;
}

.correctMark{
	float:right;
	background: url('../assets/studentTrail/response_correct.png') no-repeat 0 -1px;
	width: 32px;
	height: 31px;
	margin:5px;
}

#generateTable{
	font-size:1.2em;
	width:92%;
	border-bottom:1px solid #626161;
	padding-top:3px;
	padding-bottom:3px;
	color:#626161;
	margin-left:40px;
	float:left;
}

.red{
	background-color:#E75903;
	width:12px;
	height:12px;
	-moz-border-radius: 6px;
	-webkit-border-radius:6px;
	border-radius: 6px;
	margin-top:-13px;
}

.textRed{
	color:#E75903;
	font-weight:bold;
}

.linkPointer{
	cursor:pointer;
}


#topicContainer{
	margin-left:2%;
	margin-top:2%;	
	background-color:white;
	height:70px;
	width:96%;
	-webkit-box-shadow: 0px 3px 2px rgba(50, 50, 50, 0.2);
	-moz-box-shadow:    0px 3px 2px rgba(50, 50, 50, 0.2);
	box-shadow:         0px 3px 2px rgba(50, 50, 50, 0.2);
}

#activateTab{
	width:120px;
	height:60px;
	background-color:#30302F;
	margin-left:10px;
	margin-top:-30px;
	font-size:0.8em;
	color:white;
}

.tabText{
	padding-top:5px;
}

.activate {
	background: url('../assets/common/activetopic_a.png') no-repeat 0 0;
	width: 24px;
	height: 24px;
	float:left;
	padding-right:10px;
	margin-left:20px;
}

.customize {
	background: url('../assets/common/customize.png') no-repeat -2px -1px;
	width: 20px;
	height: 20px;
	float:left;
	margin-left:20px;
	padding-right:5px;
}

.arrow-black-side {
	width: 0; 
	height: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-right: 10px solid #30302F;
	float:right;
	margin-right: -145px;
	visibility:hidden;
}

#activate{
	width:90px;
	margin-left:20px;
	height:25px;
	border-bottom:1px solid rgba(255,255,255,0.3);
}

#topicBoxDescTopic{
	/*border : 1px solid black;*/
	margin-top: 2%;
	margin-left:4%;
	height:40%;
	width: 95%;
	font-size: 15px;
	
	
}

#topicBoxDescInfo1{
	/*border : 1px solid black;*/
	margin-top: 2%;
	margin-left:4%;
	height:38%;
	font-size: 15px;
	float: left;
}

#topicBoxDescInfo2{
	/*border : 1px solid black;*/
	margin-top: 2%;
	margin-left:10%;
	height:38%;
	font-size: 15px;
	float: left;
}

.actionsTab{
	background: url('../assets/common/action.png') no-repeat -2px -3px;
	width: 15px;
	height: 14px;
	margin-top:20px;
	float:right;
	margin-left: 20px;
	padding-right:40px;
}

#actionsText{
	position: absolute;
	height:40px;
	margin-top:20px;
	margin-left:-15px;
	font-weight:bold;
	font-size:1.2em;
}

.progressCircle{
	width:40px;
	padding-left:4px;
	padding-top:5px;
	padding-right:2px;
	text-align:center;
	float: right;
	margin-right: 3px;
	margin-top: -11px;
	padding-top:15px;
	font-size:1.1em;
	font-weight:bold;
	height:34px;
	-moz-border-radius: 39px;
	-webkit-border-radius: 39px;
	border-radius: 39px;
	color:#606062;
	-webkit-box-shadow: inset 0px 1px 8px rgba(50, 50, 50, 0.8);
	-moz-box-shadow:   inset 0px 1px 8px rgba(50, 50, 50, 0.8);
	box-shadow:        inset 0px 1px 8px rgba(50, 50, 50, 0.8);
	cursor:pointer;
}

.outerCircle{
	width:50px;
	background-color:#ffffff;
	padding-left:4px;
	padding-top:5px;
	padding-right:2px;
	text-align:center;
	float: right;
	margin-right:10px;
	margin-top:10px;
	padding-top:15px;
	height:43px;
	-moz-border-radius: 36px;
	-webkit-border-radius: 36px;
	border-radius: 36px;
	color:#606062;
	-webkit-box-shadow: inset 0px 1px 5px rgba(50, 50, 50, 0.8);
	-moz-box-shadow: inset 0px 1px 5px rgba(50, 50, 50, 0.8);
	box-shadow:      inset 0px 1px 5px rgba(50, 50, 50, 0.8);
	cursor:pointer;
}

.circleColor0{
	background: #ed4134; /* Old browsers */
background: -moz-linear-gradient(left,  #ed4134 0%, #ffff9c 49%, #00ff00 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ed4134), color-stop(49%,#ffff9c), color-stop(100%,#00ff00)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #ed4134 0%,#ffff9c 49%,#00ff00 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #ed4134 0%,#ffff9c 49%,#00ff00 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #ed4134 0%,#ffff9c 49%,#00ff00 100%); /* IE10+ */
background: linear-gradient(to right,  #ed4134 0%,#ffff9c 49%,#00ff00 100%); /* W3C */
background-size: 400px 20px;
filter:none;
}

.circleColor1{
	background: #ED6534; /* Old browsers */
background: -moz-linear-gradient(left,  #ed4134 0%, #ffff9c 49%, #00ff00 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ed4134), color-stop(49%,#ffff9c), color-stop(100%,#00ff00)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #ed4134 0%,#ffff9c 49%,#00ff00 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #ed4134 0%,#ffff9c 49%,#00ff00 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #ed4134 0%,#ffff9c 49%,#00ff00 100%); /* IE10+ */
background: linear-gradient(to right,  #ed4134 0%,#ffff9c 49%,#00ff00 100%); /* W3C */
background-size: 400px 20px;
background-position: -35px 0px;
filter:none;
}

.circleColor2{
	background: #ED8834; /* Old browsers */
background: -moz-linear-gradient(left,  #ed4134 0%, #ffff9c 49%, #00ff00 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ed4134), color-stop(49%,#ffff9c), color-stop(100%,#00ff00)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #ed4134 0%,#ffff9c 49%,#00ff00 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #ed4134 0%,#ffff9c 49%,#00ff00 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #ed4134 0%,#ffff9c 49%,#00ff00 100%); /* IE10+ */
background: linear-gradient(to right,  #ed4134 0%,#ffff9c 49%,#00ff00 100%); /* W3C */
background-size: 400px 20px;
background-position: -70px 0px;
filter:none;
}

.circleColor3{
	background: #EDB334; /* Old browsers */
background: -moz-linear-gradient(left,  #ed4134 0%, #ffff9c 49%, #00ff00 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ed4134), color-stop(49%,#ffff9c), color-stop(100%,#00ff00)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #ed4134 0%,#ffff9c 49%,#00ff00 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #ed4134 0%,#ffff9c 49%,#00ff00 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #ed4134 0%,#ffff9c 49%,#00ff00 100%); /* IE10+ */
background: linear-gradient(to right,  #ed4134 0%,#ffff9c 49%,#00ff00 100%); /* W3C */
background-size: 400px 20px;
background-position: -105px 0px;
filter:none;
}

.circleColor4{
	background: #EDDB34; /* Old browsers */
background: -moz-linear-gradient(left,  #ed4134 0%, #ffff9c 49%, #00ff00 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ed4134), color-stop(49%,#ffff9c), color-stop(100%,#00ff00)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #ed4134 0%,#ffff9c 49%,#00ff00 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #ed4134 0%,#ffff9c 49%,#00ff00 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #ed4134 0%,#ffff9c 49%,#00ff00 100%); /* IE10+ */
background: linear-gradient(to right,  #ed4134 0%,#ffff9c 49%,#00ff00 100%); /* W3C */
background-size: 400px 20px;
background-position: -140px 0px;
filter:none;
}

.circleColor5{
	background: #D9ED34; /* Old browsers */
background: -moz-linear-gradient(left,  #ed4134 0%, #ffff9c 49%, #00ff00 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ed4134), color-stop(49%,#ffff9c), color-stop(100%,#00ff00)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #ed4134 0%,#ffff9c 49%,#00ff00 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #ed4134 0%,#ffff9c 49%,#00ff00 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #ed4134 0%,#ffff9c 49%,#00ff00 100%); /* IE10+ */
background: linear-gradient(to right,  #ed4134 0%,#ffff9c 49%,#00ff00 100%); /* W3C */
background-size: 400px 20px;
background-position: -175px 0px;
filter:none;
}

.circleColor6{
	background: #B3ED34; /* Old browsers */
background: -moz-linear-gradient(left,  #ed4134 0%, #ffff9c 49%, #00ff00 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ed4134), color-stop(49%,#ffff9c), color-stop(100%,#00ff00)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #ed4134 0%,#ffff9c 49%,#00ff00 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #ed4134 0%,#ffff9c 49%,#00ff00 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #ed4134 0%,#ffff9c 49%,#00ff00 100%); /* IE10+ */
background: linear-gradient(to right,  #ed4134 0%,#ffff9c 49%,#00ff00 100%); /* W3C */
background-size: 400px 20px;
background-position: -210px 0px;
filter:none;
}

.circleColor7{
	background: #92ED34; /* Old browsers */
background: -moz-linear-gradient(left,  #ed4134 0%, #ffff9c 49%, #00ff00 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ed4134), color-stop(49%,#ffff9c), color-stop(100%,#00ff00)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #ed4134 0%,#ffff9c 49%,#00ff00 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #ed4134 0%,#ffff9c 49%,#00ff00 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #ed4134 0%,#ffff9c 49%,#00ff00 100%); /* IE10+ */
background: linear-gradient(to right,  #ed4134 0%,#ffff9c 49%,#00ff00 100%); /* W3C */
background-size: 400px 20px;
background-position: -245px 0px;
filter:none;
}

.circleColor8{
	background: #78ED34; /* Old browsers */
background: -moz-linear-gradient(left,  #ed4134 0%, #ffff9c 49%, #00ff00 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ed4134), color-stop(49%,#ffff9c), color-stop(100%,#00ff00)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #ed4134 0%,#ffff9c 49%,#00ff00 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #ed4134 0%,#ffff9c 49%,#00ff00 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #ed4134 0%,#ffff9c 49%,#00ff00 100%); /* IE10+ */
background: linear-gradient(to right,  #ed4134 0%,#ffff9c 49%,#00ff00 100%); /* W3C */
background-size: 400px 20px;
background-position: -280px 0px;
filter:none;
}

.circleColor9{
	background: #59ED34; /* Old browsers */
background: -moz-linear-gradient(left,  #ed4134 0%, #ffff9c 49%, #00ff00 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ed4134), color-stop(49%,#ffff9c), color-stop(100%,#00ff00)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #ed4134 0%,#ffff9c 49%,#00ff00 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #ed4134 0%,#ffff9c 49%,#00ff00 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #ed4134 0%,#ffff9c 49%,#00ff00 100%); /* IE10+ */
background: linear-gradient(to right,  #ed4134 0%,#ffff9c 49%,#00ff00 100%); /* W3C */
background-size: 400px 20px;
background-position: -315px 0px;
filter:none;
}

.circleColor10{
	background: #00ff00; /* Old browsers */
background: -moz-linear-gradient(left,  #ed4134 0%, #ffff9c 49%, #00ff00 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ed4134), color-stop(49%,#ffff9c), color-stop(100%,#00ff00)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #ed4134 0%,#ffff9c 49%,#00ff00 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #ed4134 0%,#ffff9c 49%,#00ff00 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #ed4134 0%,#ffff9c 49%,#00ff00 100%); /* IE10+ */
background: linear-gradient(to right,  #ed4134 0%,#ffff9c 49%,#00ff00 100%); /* W3C */
background-size: 400px 20px;
background-position: -320px 0px;
filter:none;
}

