#home {
	border-bottom: 1px solid #E75903;
}

#container {
	border-top: 1px solid #E75903;
	border-bottom: 1px solid #E75903;
	border-left: 1px solid #E75903;
}

.qno{
	padding-top: 15px;
	font-size: 1.2em;
}

#headerBar{
	width:92%;
	border-bottom:1px solid #626161;
	height: 50px;
margin-left: 40px;
}

.arrow-black {
	width: 0; 
	height: 0;
	margin-top:25px;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-left: 6px solid #626161;
	float:left;
}

.arrow-black1 {
	width: 0; 
	height: 0;
	margin-top:25px;
	margin-left:14%;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-left: 6px solid #626161;
	float:left;
}

#pageText{
	font-size:1.4em;
	height:30px;
	margin-top:20px;
	color:#626161;
	margin-left:10px;
	float:left;
	font-weight:bold;
}

#classText{
	font-size:1.35em;
	height:30px;
	margin-top:20px;
	color:#7E7E7E;
	margin-left:10px;
	float:left;
	font-weight:bold;
}


#trailContainer{
	min-height:475px;
	overflow-y:auto;
	width:100%;
}
#questionContainer{
	background-color:#E6E6E6;
	margin-left:40px;
	padding-top: 5px;
	padding-bottom: 20px;
	width:95%;
}

#childDetails{
	font-size:1.3em;
	width:92%;
	border-bottom:1px solid #626161;
	padding-top:3px;
	padding-bottom:3px;
	color:#7E7E7E;
	margin-left:40px;
}


#pagingTable{
	position:relative;
	font-size:1.4em;
	width:95%;
	border-bottom:1px solid #626161;
	padding-top:3px;
	padding-bottom:3px;
	font-weight:bold;
	color:#626161;
	margin-left:40px;
}

.pagingTables{
	position:relative;
	font-size:1.4em;
	width:95%;
	
	padding-top:3px;
	padding-bottom:3px;
	font-weight:bold;
	color:#626161;
	margin-left:40px;
}


#pagingCircleLeft,#pagingCircleRight {
	border: 1px solid #000;
	-moz-border-radius: 20px;
	-webkit-border-radius:20px;
	border-radius: 20px;
	width: 25px;
	height: 25px;
	float: right;
	font-size: 1.2em;
	text-align: center;
	margin-top:5px;
	cursor: pointer;
}
.pagingNos {
	float: right;
	padding-left:10px;
	padding-right:10px;
	padding-top:10px;
	text-align: center;
	font-size: 1em;
	cursor: pointer;
}

#pagingDiv{
	margin-top:-10px;
}


.desk_block{
	margin-left:5%;
	font-size:1.2em;
	color:#626161;
}
.question{
	font-size:1.4em;
	margin-left:1%;
	margin-right:1%;
	background-color:white;
	-webkit-box-shadow: 0px 3px 2px rgba(50, 50, 50, 0.2);
	-moz-box-shadow:    0px 3px 2px rgba(50, 50, 50, 0.2);
	box-shadow:         0px 3px 2px rgba(50, 50, 50, 0.2);
	border-bottom:1px solid black;
	margin-top:30px;
	padding-bottom:20px;
}


.optionX {
    width: 30px;
    height: 30px;
	line-height: 32px;
	margin-bottom: 5px;
    text-align: center;
    float: left;
    background: #FFF;
    border: 1px solid #000;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    color: #000;
}

.optionInactive:hover {
    /*background: #e75903;
	color:#FFF;*/
}

.optionInactive {
    cursor: pointer;
}

.optionActive {
    background: #000;
    color: #FFF;
}

.optionText {
    margin-left: 50px;
	margin-top: 4px;
    width: 80%;
}

.clear{
	clear: both;
}

.option {
    float: left;
    margin-right: 3%;
	width:47%;
}
.optionCorrect{
	background-color:#616063;
	color:white;
}

.optionIncorrect{
	background-color:#E75903;
	color:white;
}

.title{
	float: left;
	padding-top:2px;
	padding-right:10px;
	font-weight: bold;
font-size: 1.2em;
}

.title1{
	float: left;
	padding-left:10%;
	padding-right:10px;
}

.title2{
	float: left;
	padding-right:10px;
}

.block_header{
	margin-top:20px;
}

.correctMark{
	float:right;
	background: url('../assets/studentTrail/response_correct.png') no-repeat 0 -1px;
	width: 32px;
	height: 31px;
	margin:5px;
}

.smallCircle{
	width:10px;
	height:10px;
	-moz-border-radius: 5px;
	-webkit-border-radius:5px;
	border-radius: 5px;
	background-color:white;
	border:1px solid black;
	float:left;
	margin-left:-4px;
	margin-top:-11px;
}

.red{
	background-color:#E75903;
	width:12px;
	height:12px;
	-moz-border-radius: 6px;
	-webkit-border-radius:6px;
	border-radius: 6px;
	margin-top:-13px;
}

.textRed{
	color:#E75903;
	font-weight:bold;
}

.pointer{
	cursor:pointer;
}

table.optionTable {
	font-family: verdana,arial;
	font-size:11px;
	color:#333333;
	border-width: 2px;
	border-color: #000000;
	border-collapse: collapse;
}
table.optionTable th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #000000;
	font-weight:bold;
}
table.optionTable td {
	border-width: 2px;
	padding: 8px;
	border-style: solid;
	border-color: #000000;
}