<html>
<head>
	<title>Mindspark Essay Writer</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script src="../../../theme/js/jquery-1.7.2.min.js"></script>
	<!--<script src="../../../theme/js/jquery-1.11.1.min.js"></script> -->
	<script src="../../../theme/js/rangy-core.js"></script>
	<script src="../../../theme/js/rangy-textrange.js"></script>
	
	<!-- <script src="../../../theme/js/Language/helpers.js"></script> -->
	<script src="../../../theme/js/elrte-1.3/js/elrte.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../../theme/js/Language/essayReport.js?ver18042017"></script>
	
	<link type="text/css" rel="stylesheet" href="../../../theme/css/Language/essayReport.css?ver29092016">
	<!-- <link type="text/css" rel="stylesheet" href="../../../theme/css/Language/estyle.css"> -->
	<link rel="stylesheet" href="../../../theme/css/jquery-ui.css" />
	 
</head>
<body>
<table id="mainContainer" cellpadding="0" cellspacing="0">
	<tr id="contentRow">
		<td colspan="2" style="vertical-align:top;padding:0px;position: relative;">
		<div class="modal"> </div>
		</td>
	</tr>
</table>
<div id="checkWordLength" style="visibility:hidden;"></div>
</body>
</html>