<!DOCTYPE html>
<html>
	
	<head>
		<title>Report</title>
		<link rel="stylesheet" href="../../../theme/css/bootstrap.min.css">
		<link rel="stylesheet" href="../../../theme/css/Language/report.css">
		<script type="text/javascript" src="../../../theme/js/jquery-1.11.1.min.js"></script>
		<script type="text/javascript" src="../../../theme/js/Language/constants.js"></script>
		<script type="text/javascript" src="../../../theme/js/Language/report.js"></script>
	</head>
	
	<body>
		<div class="container">
			<div class="col-md-12">
			<h1 id="reportTitle" class="text-center"> Individual Performance Report <br> 
				Carmel High School, Basaveshwaranagar, Bangalore </h1>
			
			<div class="preResults">
				<p class="dearUserName"> </p>
				<p> Shared below are the results of the Mindspark English Diagnostic Test. We have shared
	your skill-based performance, as well as your position as per the class average (in this
	case, teachers of your school). </p>
				<p>	We have tested Vocabulary, Grammar, Reading, Listening and Writing as primary skills.
	Your write-up will be evaluated using the Mindspark Essay Writer, and you will be
	intimated via email when the results are available.</p>
				<p>Your skill-wise accuracy is given in the graph below.</p>
			</div>
			
			<div id="reports">
			</div>
			
			<small id="footerNote" class="">(You can view the complete question-answer key at - <a href="../../../">www.educationalinitiatives.com/mindspark_new</a>
			by logging in with the user details provided during the test).
			</small>
			<button id="print" class="btn btn-primary" onclick="window.print()"> PRINT </button>
		</div>
		</div>
	</body>
</html>