<!DOCTYPE html>
<html>
	
	<head>
		<title>Report</title>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="../../../theme/css/bootstrap.min.css">
		<link rel="stylesheet" href="../../../theme/css/Language/report.css">
		<script type="text/javascript" src="../../../theme/js/jquery-1.11.1.min.js"></script>
		<script type="text/javascript" src="../../../theme/js/Language/constants.js"></script>
		<script type="text/javascript" src="../../../theme/js/Language/compactReport.js"></script>
	</head>
	
	<body>
		<div class="container">
			<div class="col-md-12">
				<img id="logo" src="../../../../ms_english/theme/img/Language/logo_header.png">
				<h1 id="reportTitle" class="text-center"> Overall Performance Report <br> 
				Carmel High School </h1>
			
				<div class="preResults">
					<p class="dearUserName"> Dear Roshan Menezes,</p>
					<p> Shared below are the collated results of the Mindspark English Diagnostic Test. We have shared your teachers’ skill-based performance, as well as the highest and lowest performers. </p>
					<p>	Vocabulary, Grammar, Reading, Listening and Writing were the primary skills tested. The teacher write-ups have been evaluated using the Mindspark Essay Writer, and the individual results are now available.</p>
					<p>The skill-wise accuracy is given in the graph below.</p>
				</div>
			
				<div id="reports">
				</div>
				
				<div id="additionalText">
					<div class="remedialactionheader">Skill In need of Relative Improvement - <strong>Reading Comprehension.</strong></div>
					<br>
					<div id="additionalTextRemeidalText">
					The users seem to have scored relatively lower on Reading. This implies that they need to work towards improving reading-oriented skills, such as recall, inference and extrapolation. In order to do this, one must primarily develop a habit of reading regularly and for an extended period of time. To encourage reading habits, here are a few activities which you could try out.
					<ul>
			<li>You could form a teachers’ book club and conduct monthly discussions and presentations. Have ‘best presenter’ prizes to incentivize participation.</li>
			<li>You could ask teachers to give book recommendations for the library, and randomly allot those recommendations to different teachers. Ask them to mutually discuss.</li>
			<li>English teachers can conduct monthly sessions (and annual workshops) on effective comprehension exercises. You could also use the study material of higher grades for a casual worksheet exercise to keep teachers’ refreshed and aware of the need to develop English language skills.</li>	
					</ul>

 However, skills are always interdependent, and therefore the best way to acquire a language is through continued exposure to listening, speaking, reading and writing.
					</div>					
					<br>
					<br>
					
					
					<div>
						<strong> Questions with lowest performance - </strong> <span>
							Question 45 and 49. Both of these were vocabulary questions that tested
knowledge of word sounds. Question 45, given below, was answered correctly only by one user.
						</span>
					</div>
					<br>
					<div id="questionEnvelop">
						Which of these words rhymes with 'debris'?<br>
						<span class="options"> <strong>a.)</strong> iris (44 of 65 users’ selection) </span>
						<span class="options"> <strong>b.)</strong> breeze </span>
						<span class="options"> <strong>c.)</strong> decry </span>
						<span class="options"> <strong>d.)</strong> carefree (correct answer) </span>
					</div>
					<br>
					<div>
						<strong>Lowest performing users - </strong> bhanumathy.venkataraman, zareen.taj, mary.catherine
					</div> 
					<div>
						<strong>Highest performing users - </strong> aparna.k, bindu.jayakumar, suhasini.k
					</div>
					<br>
					<div>
						<strong>Findings from essay evaluations</strong>
					</div>
					<div>
						<strong>17</strong> teachers left the writing section blank.
					</div>
					<div>
						<strong>Lowest writing score* - </strong>0.75 (sheena.ananth)
					</div>
					<div>
						<strong>Highest writing score - </strong>7.9 (suhasini.k)
					</div>
					<div>
						<!--put key findings and learnings here-->
					</div>
					<br>
					<div>
						*of those who attempted the writing activity.
					</div>
					<br>
					<div>
						<strong>Key points from Essay evaluations – </strong>
						<br>

						Most of the teachers faced issues with basic grammar techniques. The most common errors made were –
						<ol>
							<li>Punctuation - incorrect/negligible use of commas and capitalizations.</li>
							<li>Sentence structures - run on sentences, incorrect positioning of words in a sentence [normally because of translating from their mother tongue]</li>
							<li>Tenses [using present tense for general statements], subject- verb agreement [singular/plural - using ‘uniforms is’ instead of ‘uniforms are’]</li>
							<li>Vocabulary - using words without understanding the meaning in context – e.g. “uniforms make a person unique”.</li> 
							<li>Structure - Ideas lacked clarity and structure, were not supported with explanations or examples - points were merely listed. The introduction – explanation - conclusion format was not followed in any essay.</li>
							<li>Lots of problems with the use of articles and prepositions (where to use 'the', where to use 'on' vs. 'in')</li>
							<li>Misuse of conjunctions (‘and’, ‘but’, ‘or’, ‘since’) while joining parts of sentences.</li>
							<li>Several spelling errors such as ‘pshycological’ instead of ‘psychological’ and ‘wear’ instead of ‘where’.</li>
						</ol> 
						
						If you require any further data points/interpretations from us, do let us know.
						<br>
						<br>
						<div>
							Regards,<br>
							The Mindspark English Team
						</div>
					</div>
				</div>
				
			
				<button id="print" class="btn btn-primary" onclick="window.print()"> PRINT </button>
			</div>
		</div>
	</body>
</html>