body {
	/*min-width:1024px;*/
}
 
#commentDivMain {
	float:left;
	margin-left:75px;
	width:90%;
	background-color:#ffffff;
	min-height:475px;
	overflow-y:scroll;
	-webkit-box-shadow: 0px 3px 28px rgba(50, 50, 50, 0.8);
	-moz-box-shadow: 0px 3px 28px rgba(50, 50, 50, 0.8);
	box-shadow: 0px 3px 28px rgba(50, 50, 50, 0.8);
	/*max-width: 645px;*/
}

.logo{
	background: url('../../assets/higherClass/myDetails/logo_header_reverse.png') no-repeat 31px 23px;
	width     :245px;
	height    :78px;
}

.arrow-right{
	position:absolute;
	width: 0; 
	height: 0; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 15px solid #033342;
	margin-left:245px;
	margin-top:25px;
}

#top_bar{
	background:#033342;
}
#nameIcon{
	border:2px solid #033342;
}

#infoBarLeft{
	color:#033342;
}

#cssmenu a {
  color: #033342;
  font-size: 14px;
  font-weight:bold;
  display: inline-block;
  text-align: left;
  text-decoration: none;
}

#topicBasicInfo {
	margin-left:7%;
}

#main_bar{
	position:absolute;
	width:26px;
	min-height:475px;
	background-color:#E6E6E6;
	-webkit-box-shadow: 0px 3px 28px rgba(50, 50, 50, 0.8);
	-moz-box-shadow:    0px 3px 28px rgba(50, 50, 50, 0.8);
	box-shadow:         0px 3px 28px rgba(50, 50, 50, 0.8);
	z-index:2;
}


.arrow-s {
	float:right;
	margin-right:-5px;
	margin-top:8px;
	width: 0; 
	height: 0; 
	border-top: 3px solid transparent;
	border-bottom: 3px solid transparent;
	border-left: 3px solid #606062;
}


#conceptClearText {
	float:left;
	width:250px;
	height:45px;
	border:1px solid #033342;
	color:#033342;
	font-size:1.8em;
	padding-left:10px;
	padding-top:15px;
}
#conceptClearData {
	float:left;
	width:445px;
	height:55px;
	border-top:1px solid #033342;
	border-right:1px solid #033342;
	border-bottom:1px solid #033342;
	font-size:1.3em;
	padding-left:5px;
	padding-top:5px;
}
#conceptAttentionText {
	float:left;
	width:250px;
	height:45px;
	border-bottom:1px solid #033342;
	border-left:1px solid #033342;
	border-right:1px solid #033342;
	color:#033342;
	font-size:1.8em;
	padding-left:10px;
	padding-top:15px;
}
#conceptAttentionData {
	float:left;
	width:445px;
	height:55px;
	font-size:1.3em;
	padding-left:5px;
	padding-top:5px;
	border-right:1px solid #033342;
	border-bottom:1px solid #033342;
}
#quesTrailDiv {
	padding-top:20px;
	font-size:1.3em;
	margin-top:10px;
}
#quesNoDiv {
	margin-left:3%;
	float:left;	
}
#quesNo {
	width: 25px;
	text-align: center;
	left: 80px;
	float: left;
	height: 22px;
	border: 1px solid #2f99cb;
	-moz-border-radius: 13px;
	-webkit-border-radius: 13px;
	border-radius: 13px;
	padding-top:3px;
	color:#033342;
}

#quesTextDiv {
	float:left;
	margin-left:25px;
	width:90%;
	border-bottom:1px solid #2f99cb;
	padding-bottom:5px;
}

#optionDiv {
	padding-top:10px;
}
.floatLeft {
	float:left;
}

.option {
	width: 25px;
	text-align: center;
	left: 80px;
	float: left;
	height: 22px;
	border: 1px solid #2f99cb;
	-moz-border-radius: 13px;
	-webkit-border-radius: 13px;
	border-radius: 13px;
	padding-top:3px;
}
.optionCorrect {
	width: 25px;
	text-align: center;
	left: 80px;
	float: left;
	height: 22px;
	background: #2f99cb;
	border: 1px solid #2f99cb;
	-moz-border-radius: 13px;
	-webkit-border-radius: 13px;
	border-radius: 13px;
	padding-top:3px;
	color:#FFF;
}

#optAText,#optBText,#optCText,#optDText {
	margin-left:15px;
}
#optionAdiv,#optionBdiv,#optionCdiv,#optionDdiv {
	min-width:200px;
	padding-right:50px;
	padding-bottom:30px;
}

#userResponseText,#userResponse,#correctAnsText,#correctAns {
	float:left;
}
#correctAnsText {
	margin-left:20px;
}
#userResponse,#correctAns {
	margin-left:5px;
}

#dashboard{
	background-color:#033342;
	width :245px;
	height:70px;
	float:left;
}

#menuBar{
	position: absolute;
	width:170px;
	min-height:475px;
	background-color:gray;
}


#sideBar{
	width:170px;
	min-height:475px;
	background-color:#E6E6E6;
	float:right;
}

#dashboardIcon{
	position: absolute;
	background: url('../../assets/higherClass/comment/notifications_active.png');
	margin-top:8px;
	margin-left:24px;
	width: 53px;
	height: 53px;
}

#dashboardText{
	position: absolute;
margin-left: 121px;
margin-top: 19px;
font-size: 1.2em;
color: #ffffff;
width: 100px;
}

#activatedAtHomeText{
	position: absolute;
	margin-left:270px;
	margin-top:30px;
	font-size:1.3em;
}

#report{
	margin-top:30px;
	margin-left:30px;
	cursor: pointer;
}

#reportIcon{
	background: url('../../assets/higherClass/dashboard/report.png') no-repeat 3px 4px;
}

#reportText{
	margin-left:10px;
	font-size:1.25em;
	color : #033342;
}

#questionTrail{
	margin-top:50px;
	margin-left:30px;
	cursor: pointer;
}

#questionTrailIcon{
	background: url('../../assets/higherClass/dashboard/questiontrail.png') no-repeat 3px 8px;
}

#questionTrailText{
	margin-left:10px;
	font-size:1.25em;
	color : #033342;
}
#complete{
	margin-top:100px;
	margin-left:30px;
	cursor: pointer;
}

#completeIcon{
	background: url('../../assets/higherClass/dashboard/complete.png') no-repeat 8px 4px;
}

#completeText{
	margin-left:10px;
	font-size:1.25em;
	color : #033342;
}
#practice{
	margin-top:50px;
	margin-left:30px;
	cursor: pointer;
}

#practiceIcon{
	background: url('../../assets/higherClass/dashboard/practice.png') no-repeat 1px 8px;
}

#practiceText{
	margin-left:10px;
	font-size:1.25em;
	color : #033342;
}

.circle{
	width:20px;
	padding-left:4px;
	padding-top:5px;
	padding-right:2px;
	text-align:center;
	margin-left:4px;
	float:left;
	height:25px;
	border: 1px solid black;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	color:#000000;
}

.progressCircle{
	width:40px;
	padding-left:4px;
	padding-top:5px;
	padding-right:2px;
	text-align:center;
	float: right;
	margin-right: 3px;
	margin-top: -11px;
	padding-top:15px;
	font-size:1.1em;
	font-weight:bold;
	height:34px;
	-moz-border-radius: 39px;
	-webkit-border-radius: 39px;
	border-radius: 39px;
	color:#606062;
	-webkit-box-shadow: inset 0px 1px 8px rgba(50, 50, 50, 0.8);
	-moz-box-shadow:   inset 0px 1px 8px rgba(50, 50, 50, 0.8);
	box-shadow:        inset 0px 1px 8px rgba(50, 50, 50, 0.8);
	cursor:pointer;
}

.outerCircle{
	width:50px;
	background-color:#ffffff;
	padding-left:4px;
	padding-top:5px;
	padding-right:2px;
	text-align:center;
	float: right;
	margin-right:10px;
	margin-top:10px;
	padding-top:15px;
	height:43px;
	-moz-border-radius: 36px;
	-webkit-border-radius: 36px;
	border-radius: 36px;
	color:#606062;
	-webkit-box-shadow: inset 0px 1px 5px rgba(50, 50, 50, 0.8);
	-moz-box-shadow: inset 0px 1px 5px rgba(50, 50, 50, 0.8);
	box-shadow:      inset 0px 1px 5px rgba(50, 50, 50, 0.8);
	cursor:pointer;
}

.circleColor0{
	background: #ed4134; /* Old browsers */
background: -moz-linear-gradient(left,  #ed4134 0%, #ffff9c 49%, #00ff00 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ed4134), color-stop(49%,#ffff9c), color-stop(100%,#00ff00)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #ed4134 0%,#ffff9c 49%,#00ff00 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #ed4134 0%,#ffff9c 49%,#00ff00 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #ed4134 0%,#ffff9c 49%,#00ff00 100%); /* IE10+ */
background: linear-gradient(to right,  #ed4134 0%,#ffff9c 49%,#00ff00 100%); /* W3C */
background-size: 400px 20px;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed4134', endColorstr='#00ff00',GradientType=1 ); /* IE6-9 */
}

.circleColor1{
	background: #ed4134; /* Old browsers */
background: -moz-linear-gradient(left,  #ed4134 0%, #ffff9c 49%, #00ff00 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ed4134), color-stop(49%,#ffff9c), color-stop(100%,#00ff00)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #ed4134 0%,#ffff9c 49%,#00ff00 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #ed4134 0%,#ffff9c 49%,#00ff00 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #ed4134 0%,#ffff9c 49%,#00ff00 100%); /* IE10+ */
background: linear-gradient(to right,  #ed4134 0%,#ffff9c 49%,#00ff00 100%); /* W3C */
background-size: 400px 20px;
background-position: -35px 0px;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed4134', endColorstr='#00ff00',GradientType=1 ); /* IE6-9 */
}

.circleColor2{
	background: #ed4134; /* Old browsers */
background: -moz-linear-gradient(left,  #ed4134 0%, #ffff9c 49%, #00ff00 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ed4134), color-stop(49%,#ffff9c), color-stop(100%,#00ff00)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #ed4134 0%,#ffff9c 49%,#00ff00 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #ed4134 0%,#ffff9c 49%,#00ff00 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #ed4134 0%,#ffff9c 49%,#00ff00 100%); /* IE10+ */
background: linear-gradient(to right,  #ed4134 0%,#ffff9c 49%,#00ff00 100%); /* W3C */
background-size: 400px 20px;
background-position: -70px 0px;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed4134', endColorstr='#00ff00',GradientType=1 ); /* IE6-9 */
}

.circleColor3{
	background: #ed4134; /* Old browsers */
background: -moz-linear-gradient(left,  #ed4134 0%, #ffff9c 49%, #00ff00 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ed4134), color-stop(49%,#ffff9c), color-stop(100%,#00ff00)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #ed4134 0%,#ffff9c 49%,#00ff00 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #ed4134 0%,#ffff9c 49%,#00ff00 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #ed4134 0%,#ffff9c 49%,#00ff00 100%); /* IE10+ */
background: linear-gradient(to right,  #ed4134 0%,#ffff9c 49%,#00ff00 100%); /* W3C */
background-size: 400px 20px;
background-position: -105px 0px;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed4134', endColorstr='#00ff00',GradientType=1 ); /* IE6-9 */
}

.circleColor4{
	background: #ed4134; /* Old browsers */
background: -moz-linear-gradient(left,  #ed4134 0%, #ffff9c 49%, #00ff00 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ed4134), color-stop(49%,#ffff9c), color-stop(100%,#00ff00)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #ed4134 0%,#ffff9c 49%,#00ff00 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #ed4134 0%,#ffff9c 49%,#00ff00 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #ed4134 0%,#ffff9c 49%,#00ff00 100%); /* IE10+ */
background: linear-gradient(to right,  #ed4134 0%,#ffff9c 49%,#00ff00 100%); /* W3C */
background-size: 400px 20px;
background-position: -140px 0px;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed4134', endColorstr='#00ff00',GradientType=1 ); /* IE6-9 */
}

.circleColor5{
	background: #ed4134; /* Old browsers */
background: -moz-linear-gradient(left,  #ed4134 0%, #ffff9c 49%, #00ff00 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ed4134), color-stop(49%,#ffff9c), color-stop(100%,#00ff00)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #ed4134 0%,#ffff9c 49%,#00ff00 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #ed4134 0%,#ffff9c 49%,#00ff00 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #ed4134 0%,#ffff9c 49%,#00ff00 100%); /* IE10+ */
background: linear-gradient(to right,  #ed4134 0%,#ffff9c 49%,#00ff00 100%); /* W3C */
background-size: 400px 20px;
background-position: -175px 0px;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed4134', endColorstr='#00ff00',GradientType=1 ); /* IE6-9 */
}

.circleColor6{
	background: #ed4134; /* Old browsers */
background: -moz-linear-gradient(left,  #ed4134 0%, #ffff9c 49%, #00ff00 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ed4134), color-stop(49%,#ffff9c), color-stop(100%,#00ff00)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #ed4134 0%,#ffff9c 49%,#00ff00 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #ed4134 0%,#ffff9c 49%,#00ff00 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #ed4134 0%,#ffff9c 49%,#00ff00 100%); /* IE10+ */
background: linear-gradient(to right,  #ed4134 0%,#ffff9c 49%,#00ff00 100%); /* W3C */
background-size: 400px 20px;
background-position: -210px 0px;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed4134', endColorstr='#00ff00',GradientType=1 ); /* IE6-9 */
}

.circleColor7{
	background: #ed4134; /* Old browsers */
background: -moz-linear-gradient(left,  #ed4134 0%, #ffff9c 49%, #00ff00 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ed4134), color-stop(49%,#ffff9c), color-stop(100%,#00ff00)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #ed4134 0%,#ffff9c 49%,#00ff00 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #ed4134 0%,#ffff9c 49%,#00ff00 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #ed4134 0%,#ffff9c 49%,#00ff00 100%); /* IE10+ */
background: linear-gradient(to right,  #ed4134 0%,#ffff9c 49%,#00ff00 100%); /* W3C */
background-size: 400px 20px;
background-position: -245px 0px;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed4134', endColorstr='#00ff00',GradientType=1 ); /* IE6-9 */
}

.circleColor8{
	background: #ed4134; /* Old browsers */
background: -moz-linear-gradient(left,  #ed4134 0%, #ffff9c 49%, #00ff00 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ed4134), color-stop(49%,#ffff9c), color-stop(100%,#00ff00)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #ed4134 0%,#ffff9c 49%,#00ff00 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #ed4134 0%,#ffff9c 49%,#00ff00 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #ed4134 0%,#ffff9c 49%,#00ff00 100%); /* IE10+ */
background: linear-gradient(to right,  #ed4134 0%,#ffff9c 49%,#00ff00 100%); /* W3C */
background-size: 400px 20px;
background-position: -280px 0px;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed4134', endColorstr='#00ff00',GradientType=1 ); /* IE6-9 */
}

.circleColor9{
	background: #ed4134; /* Old browsers */
background: -moz-linear-gradient(left,  #ed4134 0%, #ffff9c 49%, #00ff00 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ed4134), color-stop(49%,#ffff9c), color-stop(100%,#00ff00)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #ed4134 0%,#ffff9c 49%,#00ff00 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #ed4134 0%,#ffff9c 49%,#00ff00 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #ed4134 0%,#ffff9c 49%,#00ff00 100%); /* IE10+ */
background: linear-gradient(to right,  #ed4134 0%,#ffff9c 49%,#00ff00 100%); /* W3C */
background-size: 400px 20px;
background-position: -315px 0px;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed4134', endColorstr='#00ff00',GradientType=1 ); /* IE6-9 */
}

.circleColor10{
	background: #ed4134; /* Old browsers */
background: -moz-linear-gradient(left,  #ed4134 0%, #ffff9c 49%, #00ff00 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ed4134), color-stop(49%,#ffff9c), color-stop(100%,#00ff00)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #ed4134 0%,#ffff9c 49%,#00ff00 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #ed4134 0%,#ffff9c 49%,#00ff00 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #ed4134 0%,#ffff9c 49%,#00ff00 100%); /* IE10+ */
background: linear-gradient(to right,  #ed4134 0%,#ffff9c 49%,#00ff00 100%); /* W3C */
background-size: 400px 20px;
background-position: -330px 0px;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed4134', endColorstr='#00ff00',GradientType=1 ); /* IE6-9 */
}

.trHead{
	margin-left: 50px;
	width:90%;
}

#td{
	width:530px;
}


#sessionWiseReport {
	border: 2px solid #033342;
	width: 270px;
	height: 35px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	float: right;
	font-size: 2em;
	margin-top: -32px;
	margin-right: 30px;
	padding-top: 5px;
	text-align: center;
	cursor: pointer;
}
.deactiveBg {
	color:#FFFFFF;
	background:#CCCCCC;
	cursor:default;
}
.deactiveText {
	color:#CCCCCC;
}
#progressTopic2 {
	width:380px;
}
#incompleteTopic2 {
	width:0px;
}

.quesTrailImoteInactive {
	background:url(../../assets/questiontrail_inactive.png) no-repeat 0 0;
	width:40px;
	height:38px;
	margin-left:1px;
}
.reportDivImoteInactive {
	background:url(../../assets/reports_inactive.png) no-repeat 0 0;
	width:30px;
	height:42px;
	margin-left:9px;
}
#progressTextTopic2 {
	margin-left:380px;
}

.ulDeactive {
    background-color: #CCCCCC;
}
.ulDeactive:after,
.ulDeactive:after {
    border-bottom: solid 6px #CCCCCC;
}

#dob{
	font-size:1.3em;
	margin-top:10px;
	float: right;
	margin-right:30px;
}

#topic_name{
	font-size:1.8em;
	width:50%;
	color:#606062;
	float:left;
	margin-left:8%;
	margin-top:20px;
}

#package{
	float:right;
}

#packageEnd{
	margin-top:62px;
}

#packageStart{
margin-top:3px;
}

#NA{
	font-size:1.4em;
	position:absolute;
	top:195px;
	margin-left:30px;
	color:#033342;
	text-align: center;
	cursor: pointer;
}

#A{
	font-size:1.4em;
	position:absolute;
	top:250px;
	text-align: center;
	margin-left:30px;
	cursor: pointer;
}

#container_form{
	margin-left:200px;
	font-size:16px;
}

#student{
	margin-top:25px;
}

#school,#parentN,#parentE,#contact,#address{
	margin-top:15px;
}

#contact{
	padding-bottom:5px;
}

#note{
	margin-left:20px;
	margin-top:10px;
	color:red;
}

.Box{
	height:20px;
	vertical-align:center;
	width:20%;
	margin-top:5px;
	border-color:#033342;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}

.Box1{
	height:20px;
	vertical-align:center;
	width:5%;
	margin-top:5px;
	margin-left:15px;
	border-color:#033342;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}
.Box2{
	height:20px;
	vertical-align:center;
	width:5%;
	margin-top:5px;
	margin-left:8px;
	border-color:#033342;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}
.Box3{
	height:20px;
	vertical-align:center;
	width:10%;
	margin-top:5px;
	margin-left:8px;
	margin-right:10px;
	border-color:#033342;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}

.Box4{
	height:80px;
	vertical-align:center;
	width:30%;
	margin-top:5px;
	margin-left:8px;
	margin-right:10px;
	border-color:#033342;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}



#activitiesName{
	font-size:1.3em;
	color:#000000;
	width:160px;
}

#topicName{
	font-size:1.3em;
	color:#033342;
	margin-top:5px;
	width:160px;
}



.emote{
	background: url('../../assets/feedback.png') no-repeat 0 -72px;
	width: 64px;
	height: 61px;
	margin-left:5%;
	float: left;
	margin-top:2%;
}


#sparkie_text{
	font-size:16px;
	text-align:center;
}

#wrong_text{
	position: absolute;
	margin-left:10%;
	margin-top:3%;
	color:black;
}

#incorrect_text{
	margin-left:30%;
	margin-top:20px;
	color:#000000;
	font-size:1.8em;
}

#next{
	float:left;
	margin-left:7%;
	font-size:12px;
}



.button1 {
	background-color:#033342;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	border:1px solid #033342;
	display:inline-block;
	color:white;
	font-size:1.1em;
	margin-top:10px;
	margin-left:15px;
	padding:6px 24px;
	text-decoration:none;
	cursor:pointer;
}.button1:active {
	position:relative;
	top:4px;
}

.button {
	background-color:#033342;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	border:1px solid #033342;
	display:inline-block;
	color:white;
	font-size:1.1em;
	margin-top:10px;
	margin-left:15px;
	padding:6px 24px;
	text-decoration:none;
	float:none;
	margin-right:0px;
	cursor:pointer;
}.button:active {
	position:relative;
	top:4px;
}

.pointed1 {
    position: relative;
    margin: 0 auto;
	text-align: center;
    width: 125px;
    height: 3px;
    background-color: #033342;
}
.pointed1:after,
.pointed1::after {
    position: absolute;
    left: 100%;
    margin-left: -60%;
    content: '';
    width: 0;
    height: 0;
    border-top: solid 6px #033342;
    border-left: solid 6px transparent;
    border-right: solid 6px transparent;
}

.pointed2 {
    position: relative;
    margin: 0 auto;
	text-align: center;
    width: 125px;
    height: 3px;
    background-color: grey;
}
.pointed2:after,
.pointed2::after {
    position: absolute;
    left: 100%;
    margin-left: -60%;
    content: '';
    width: 0;
    height: 0;
    border-top: solid 6px grey;
    border-left: solid 6px transparent;
    border-right: solid 6px transparent;
}
#commentInfo {
	margin-left: 220px;
	color: #606062;
	font-size: 1.2em;
	margin-top: 10px;
}
.endSessionTbl {
	text-align:center;
	border-spacing:15px;
 	border-collapse:seperate;
}

.endSessionTbl td {
	padding:3px;
}

.endSessionTbl tr:first-child td {
	font-family: 'Conv_HelveticaLTStd-BoldCond';
	background:#033342;
	height:40px;
	color:#fff;
	font-size:1.5em;
}
.endSessionTbl tr:first-child td:first-child + td {
	background:#033342;
	width:25px;
}
.quesText {
	font-family: 'Conv_HelveticaLTStd-Light';
	font-size:1.3em;
	padding-bottom:10px;
	border-bottom:1px solid #e52e00;
	text-align:left;
}
.comment {
	font-size:1.3em;
	padding:15px 0px 15px 0px;
	border-bottom:1px solid #e52e00;
	text-align:left;
}
.reComment {
	font-size:1.3em;
	padding:15px 0px 0px 0px;
	text-align:left;
}

#commentBoxDiv {
	margin-left:5%;
}
.commentDiv {
	float:left;
	margin-top:10px;
}
.submitBtn {
	display:block;
	height:40px;
	border:1px solid white;
	color:white;
	text-align:center;
	padding:10px;
	cursor:pointer;
	margin-top:40px;
	font-size:0.8em;
}

textarea {
	resize:none;
	border:1px solid;
}
.bottom {
	border-bottom:1px solid #e52e00;
}
#dataTableDiv{
	margin-left: 155px;
	margin-top: 10px;
}
#continueBtn {
	display: block;
	height: 40px;
	border: 1px solid white;
	color: white;
	text-align: center;
	padding: 10px;
	cursor: pointer;
	margin-top: 0px;
	font-size: 1.2em;
	clear: both;
}
.srnoText {
	font-family: 'Conv_HelveticaLTStd-BoldCond';
	color:#000000;
	font-size:1.5em;
}
.commentText {
	font-size:1.3em;
}
#backBtn {
	font-size:2em;
	padding:5px;
}


@media (max-width: 1024px){
		.trHead{
			width: 56%;
		}
		#info_bar{
			width:100%;
			height:62px;
		}
		#menuBar{
			width:145px;
		}
		#NA{
			margin-left:20px;
		}
		#A{
			margin-left:20px;
		}
		#sideBar{
			width:145px;
		}
		#report{
			margin-left:10px;
		}
		#questionTrail{
			margin-left:10px;
		}
		#practice{
			margin-left:10px;
		}
		#complete{
			margin-left:10px;
		}
		.logo{
			-webkit-transform: scale(0.8,0.8);  /* Saf3.1+, Chrome */
		     -moz-transform: scale(0.8,0.8);  /* FF3.5+ */
		     -ms-transform: scale(0.8,0.8);  /* IE9 */
		     -o-transform: scale(0.8,0.8);  /* Opera 10.5+ */
		     transform: scale(0.8,0.8);
			 margin-top: -10px;
			margin-left: -21px;
		}
		#nameIcon{
			-webkit-transform: scale(0.8,0.8);  /* Saf3.1+, Chrome */
		     -moz-transform: scale(0.8,0.8);  /* FF3.5+ */
		     -ms-transform: scale(0.8,0.8);  /* IE9 */
		     -o-transform: scale(0.8,0.8);  /* Opera 10.5+ */
		     transform: scale(0.8,0.8);
			 margin-top: -5px;
		}
		#top_bar{
			height:62px;
			width:100%;
		}
		#studentInfoLowerClass{
			height:62px;
		}
		.arrow-right{
			margin-left:200px;
		}
		#dashboard{
			height:62px;
			width:200px;
		}
		#dashboardIcon{
			margin-top:5px;
		}
		#dashboardText{
			margin-top:25px;
			margin-left: 100px;
		}
		#commentDivMain{
			margin-left:55px;
			width:93%;
		}
}
@media screen and (orientation:portrait){
 
}
