.Name {
		position:absolute;
        text-decoration :none;
		font-size:14px;
		margin-top:-35px;
        margin-left:30%;
		color:#0099ff;
}
.class
{
		position:absolute;
        font-size:14px;
		margin-top:-20px;
		 margin-left:30%;
		color:#999999;
}


#notattemptedC{
	width: 96%;
}

#lowerClassProgress{
	position:absolute;
	margin-left:24%;
	margin-top:5px;
	width: 50%;
	height: 45px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background-color:#ffffff;
}

#home {
	background: url('../../assets/icon.home.png') no-repeat 0 0 !important;
	width: 50px !important;
	height: 39px !important;
	margin-left: 10px !important;
	margin-top: 6px !important;
	float: left !important;
	background-size: 100% 100% !important;
	moz-box-shadow: 0 0 10px #888 !important;
	-webkit-box-shadow: 0 0 10px#888 !important;
	box-shadow: 0 0 10px #888 !important;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
}

.icon_text2{
	position: relative;
	font-size:1.3em;
	margin-left:55px;
	width:100px;
	margin-top:10px;
	text-align:center;
	color:#0099ff;
}


#aM{
	display:none;
}

#topic{
	display:none;
}

#locked{
	display:none;
}

#new{
	display:none;
}

#locked{
	background: url('../../assets/locked.png') no-repeat 0 -82px;
	width: 40px;
	height: 31px;
	background-position-x:8px;
	margin-right:-120px;
	float: right;
	margin-top:58px;
	cursor: pointer;
}


.icon_text{
	position: relative;
	font-size:1em;
	width: 45px;
	text-align:center;
	margin-top:35px;
}

.icon_text1{
	position: relative;
	font-size:1.8em;
	width:178px;
	text-align:center;
	margin-top:45px;
	color:#e52e00;
}


#activitiesContainer{
	padding: 0px 0px 15px 0px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 0px 20px 20px 20px;
	background: #FFF;
	overflow: auto;
	margin-left: 2%;
	width: 95%;
	margin-bottom: 10px;
}

#blankWhiteSpace {
height: 60px !important;
margin-left:2%;
float: none !important;
}

.notAttemptedText{
	float: left;
	margin-left:10px;
	font-size:1.7em;
	font-weight:bold;
	color:#E75903;
}

.boxHeader{
	margin-left:30px;
	width:95%;
	margin-top:10px;
	position: relative;
	border-bottom:1px solid #E75903;
	height:30px;
}

.arrow-right {
	position:absolute;
	width: 0; 
	height: 0; 
	border-top: 11px solid transparent;
	border-bottom: 11px solid transparent;
	border-left: 15px solid #E75903;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	margin-left:99%;
	margin-top:100px;
	cursor: pointer;	
}

.arrow-rightin1 {
	position: absolute;
	width: 0;
	height: 0;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	border-left: 10px solid #FFFFFF;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	margin-left: -13px;
	margin-top: -7px;
	display:none;
	cursor: pointer;
}

.arrow-leftin1 {
	position: absolute;
	width: 0;
	height: 0;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	border-right: 10px solid #FFFFFF;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	margin-left: 3px;
	margin-top: -7px;
	cursor: pointer;
}

.arrow-rightin2 {
	position: absolute;
	width: 0;
	height: 0;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	border-left: 10px solid #FFFFFF;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	margin-left: -13px;
	margin-top: -7px;
	display:none;
	cursor: pointer;
}

.arrow-leftin2 {
	position: absolute;
	width: 0;
	height: 0;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	border-right: 10px solid #FFFFFF;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	margin-left: 3px;
	margin-top: -7px;
	cursor: pointer;
}

.arrow-rightin {
	position: absolute;
	width: 0;
	height: 0;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	border-left: 10px solid #FFFFFF;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	margin-left: -13px;
	margin-top: -7px;
	display:none;
	cursor: pointer;
}

.arrow-leftin {
	position: absolute;
	width: 0;
	height: 0;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	border-right: 10px solid #FFFFFF;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	margin-left: 3px;
	margin-top: -7px;
	cursor: pointer;
}

.arrow-rightin3 {
	position: absolute;
	width: 0;
	height: 0;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	border-left: 10px solid #FFFFFF;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	margin-left: -13px;
	margin-top: -7px;
	display:none;
	cursor: pointer;
}

.arrow-leftin3 {
	position: absolute;
	width: 0;
	height: 0;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	border-right: 10px solid #FFFFFF;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	margin-left: 3px;
	margin-top: -7px;
	cursor: pointer;
}

.arrow-left {
	position:absolute;
	width: 0; 
	height: 0; 
	border-top: 11px solid transparent;
	border-bottom: 11px solid transparent;
	border-right: 15px solid #E75903;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	margin-left:-18px;
	margin-top:100px;
	cursor: pointer;
}

.arrow-right1 {
	position:absolute;
	width: 0; 
	height: 0; 
	border-top: 11px solid transparent;
	border-bottom: 11px solid transparent;
	border-left: 15px solid #E75903;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	margin-left:97%;
	margin-top:100px;
	cursor: pointer;
	z-index:50;
}

.arrow-left1 {
	position:absolute;
	width: 0; 
	height: 0; 
	border-top: 11px solid transparent;
	border-bottom: 11px solid transparent;
	border-right: 15px solid #E75903;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	margin-left:12px;
	margin-top:100px;
	cursor: pointer;
	z-index:50;
}

.arrow-right2 {
	position:absolute;
	width: 0; 
	height: 0; 
	border-top: 11px solid transparent;
	border-bottom: 11px solid transparent;
	border-left: 15px solid #E75903;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	margin-left:97%;
	margin-top:100px;
	cursor: pointer;
	z-index:50;
}

.arrow-left2 {
	position:absolute;
	width: 0; 
	height: 0; 
	border-top: 11px solid transparent;
	border-bottom: 11px solid transparent;
	border-right: 15px solid #E75903;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	margin-left:12px;
	margin-top:100px;
	cursor: pointer;
	z-index:50;
}

#largeContainer{
	margin-top:25px;
	position:relative;	
	width:100%;
}

#largeContainer1{
	margin-top:25px;
}

#largeContainer2{
	margin-top:25px;
}

#largeContainer3{
	margin-top:25px;
}

.mainContainer{
	position:relative;
	margin-left:15%;
	-webkit-box-shadow: 0px 1px 10px rgba(50, 50, 50, 0.4);
	-moz-box-shadow:    0px 1px 10px rgba(50, 50, 50, 0.4);
	box-shadow:         0px 1px 10px rgba(50, 50, 50, 0.4);
	width:935px;
	height:330px;
	margin-top:20px;
	overflow-y:hidden;
	overflow-x:hidden;
}

.circle{
	position: relative;
	float:right;
	margin-right:15px;
	margin-top:10px;
	width:10px;
	height:10px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	background-color:#E75903;
	text-align:center;
	font-size:8px;
	color:#FFFFFF;
}

#na1{
	-moz-transform:scale(2,2);
	-webkit-transform:scale(2,2);
	-o-transform:scale(2,2);
	-ms-transform:scale(2,2);
}

#a1{
	-moz-transform:scale(2,2);
	-webkit-transform:scale(2,2);
	-o-transform:scale(2,2);
	-ms-transform:scale(2,2);
}

#l1{
	-moz-transform:scale(2,2);
	-webkit-transform:scale(2,2);
	-o-transform:scale(2,2);
	-ms-transform:scale(2,2);
}

.mainContainerX{
	width:100%;
	height:265px;
	overflow-y:hidden;
	overflow-x:hidden;
}

.mainContainerY{
	width:100%;
	height:265px;
	overflow-y:hidden;
	overflow-x:hidden;
}

.mainContainerZ{
	width:100%;
	height:265px;
	overflow-y:hidden;
	overflow-x:hidden;
}

.mainContainerV{
	width:100%;
	height:265px;
	overflow-y:hidden;
	overflow-x:hidden;
}

.paging{
	float:right;
	height:40px;
}

.mainContainer1{
	position:relative;
	margin-left:15%;
	-webkit-box-shadow: 0px 1px 10px rgba(50, 50, 50, 0.4);
	-moz-box-shadow:    0px 1px 10px rgba(50, 50, 50, 0.4);
	box-shadow:         0px 1px 10px rgba(50, 50, 50, 0.4);
	width:935px;
	height:325px;
	margin-top:20px;
	margin-bottom:30px;
	overflow-y:hidden;
	overflow-x:hidden;
}

.mainContainer2{
	position:relative;
	margin-left:15%;
	-webkit-box-shadow: 0px 1px 10px rgba(50, 50, 50, 0.4);
	-moz-box-shadow:    0px 1px 10px rgba(50, 50, 50, 0.4);
	box-shadow:         0px 1px 10px rgba(50, 50, 50, 0.4);
	width:935px;
	height:325px;
	margin-top:20px;
	margin-bottom:30px;
	overflow-y:hidden;
	overflow-x:hidden;
}

.mainContainer3{
	position:relative;
	margin-left:15%;
	-webkit-box-shadow: 0px 1px 10px rgba(50, 50, 50, 0.4);
	-moz-box-shadow:    0px 1px 10px rgba(50, 50, 50, 0.4);
	box-shadow:         0px 1px 10px rgba(50, 50, 50, 0.4);
	width:935px;
	height:325px;
	margin-top:20px;
	margin-bottom:30px;
	overflow-y:hidden;
	overflow-x:hidden;
}

.smallContainer {
	float:left;
	text-align:center;
	margin-left:60px;
	widows:160px;
	cursor:pointer;
	height:250px;
}

.activitiesImage{
	height:120px;
	width:160px;
	background-color:grey;
	background-size:100% 100%;
}

.activitiesImage.multiplayerGame:before {
	content: 'MULTIPLAYER';
	position: relative;
	top: 50px;
	background: rgba(0,0,255,0.6);
	box-shadow: 0px 0px 5px 2px red;
	color: white;
	font-family: monospace;
	letter-spacing: 5.5px;
	font-size: 15px;
	font-weight: bold;
	padding: 0px 3px 0px 10px;
	margin-left: -2px;
}

.notificationTop{
	float:right;
	background: url('../../assets/new_notification.png') no-repeat 0 0;
	width: 70px;
	height: 70px;
}

.activitiesName {
	font-size:1.3em;
	color:#000000;
	width:160px;
	overflow:hidden;
}

.topicName {
	font-size:1.3em;
	color:#e52e00;
	margin-top:5px;
	width:160px;
	overflow:hidden;
}



#clickText{
	font-size: 1.3em;
	color: #000000;
	margin-left: 14%;
	padding-top: 20px;
}

.notificationTop {
	float:right;
	background: url('../../assets/new_notification.png') no-repeat 0 0;
	width: 70px;
	height: 70px;
}

.emote{
	background: url('../../assets/feedback.png') no-repeat 0 -72px;
	width: 64px;
	height: 61px;
	margin-left:5%;
	float: left;
	margin-top:2%;
}


#sparkie_text{
	font-size:16px;
	text-align:center;
}

#wrong_text{
	position: absolute;
	margin-left:10%;
	margin-top:3%;
	color:black;
}


#incorrect_text{
	margin-left:30%;
	margin-top:20px;
	color:#000000;
	font-size:1.8em;
}

#next{
	float:left;
	margin-left:7%;
	font-size:12px;
}

#rate{
	position:fixed;
	background: url('../../assets/rate_icon.png') no-repeat 0 0;
	width: 32px;
	height: 32px;
	margin-left:20px;
	z-index:1;
	-webkit-transform:scale(0.9,0.9);
	-moz-transform :scale(0.9,0.9);
	-ms-transform :scale(0.9,0.9);
	-o-transform :scale(0.9,0.9);
	transform :scale(0.9,0.9);
}

#toolContainer{
	position:fixed;
	width: 65px;
	height: 50px;
	margin-left:94%;
	margin-top:240px;
	border: 1px solid #e52e00;
	z-index:2;
	-webkit-transform:scale(0.9,0.9);
	-moz-transform :scale(0.9,0.9);
	-ms-transform :scale(0.9,0.9);
	-o-transform :scale(0.9,0.9);
	transform :scale(0.9,0.9);
}
#toolContainer:after 
{
content: "";
position: absolute;
bottom:0px;
border-style: solid;
border-width: 0px 15px 15px 0;
border-color: #e52e00 transparent;
display: block;
width: 0;
z-index: 2;
-webkit-transform:scale(0.9,0.9);
	-moz-transform :scale(0.9,0.9);
	-ms-transform :scale(0.9,0.9);
	-o-transform :scale(0.9,0.9);
	transform :scale(0.9,0.9);
}

.toolbarText{
	position: relative;
	color:#e52e00;
	margin-top:30px;
}

#confused{
	position:fixed;
	background: url('../../assets/confused.png') no-repeat 0 0;
	width: 27px;
	height: 45px;
	z-index:1;
	margin-top:-270px;
	margin-left:20px;
	-webkit-transform:scale(0.9,0.9);
	-moz-transform :scale(0.9,0.9);
	-ms-transform :scale(0.9,0.9);
	-o-transform :scale(0.9,0.9);
	transform :scale(0.9,0.9);
}

.toolbarText1{
	position: relative;
	color:#e52e00;
	margin-top:45px;
	margin-left:-20px;
}



#bored{
	position:fixed;
	background: url('../../assets/bored.png') no-repeat 0 0;
	width: 27px;
	height: 45px;
	z-index:1;
	margin-top:-215px;
	margin-left:20px;
	-webkit-transform:scale(0.9,0.9);
	-moz-transform :scale(0.9,0.9);
	-ms-transform :scale(0.9,0.9);
	-o-transform :scale(0.9,0.9);
	transform :scale(0.9,0.9);
}

.toolbarText2{
	position: relative;
	color:#e52e00;
	margin-top:45px;
	margin-left:-5px;
}

#excited{
	position:fixed;
	background: url('../../assets/excited.png') no-repeat 0 0;
	width: 27px;
	height: 45px;
	z-index:1;
	margin-top:-155px;
	margin-left:20px;
	-webkit-transform:scale(0.9,0.9);
	-moz-transform :scale(0.9,0.9);
	-ms-transform :scale(0.9,0.9);
	-o-transform :scale(0.9,0.9);
	transform :scale(0.9,0.9);
}

.toolbarText3{
	position: relative;
	color:#e52e00;
	margin-top:45px;
	margin-left:-15px;
}

#dislike{
	position:fixed;
	background: url('../../assets/dislike.png') no-repeat 0 0;
	width: 28px;
	height: 32px;
	z-index:1;
	margin-top:-96px;
	margin-left:20px;
	-webkit-transform:scale(0.9,0.9);
	-moz-transform :scale(0.9,0.9);
	-ms-transform :scale(0.9,0.9);
	-o-transform :scale(0.9,0.9);
	transform :scale(0.9,0.9);
}

.toolbarText4{
	position: relative;
	color:#e52e00;
	margin-top:32px;
	margin-left:-10px;
}

#like{
	position:fixed;
	background: url('../../assets/like.png') no-repeat 0 0;
	width: 28px;
	height: 32px;
	z-index:1;
	margin-top:-49px;
	margin-left:20px;
	-webkit-transform:scale(0.9,0.9);
	-moz-transform :scale(0.9,0.9);
	-ms-transform :scale(0.9,0.9);
	-o-transform :scale(0.9,0.9);
	transform :scale(0.9,0.9);
}

.toolbarText5{
	position: relative;
	color:#e52e00;
	margin-top:33px;
}

#comment{
	position:fixed;
	background: url('../../assets/comment.png') no-repeat 0 0;
	width: 32px;
	height: 34px;
	z-index:1;
	margin-top:55px;
	margin-left:20px;
	-webkit-transform:scale(0.9,0.9);
	-moz-transform :scale(0.9,0.9);
	-ms-transform :scale(0.9,0.9);
	-o-transform :scale(0.9,0.9);
	transform :scale(0.9,0.9);
}

.toolbarText6{
	position: relative;
	color:#e52e00;
	margin-top:33px;
	margin-left:-20px;
}

#elements{
	display:none;
}


.button1 {
	background-color:transparent;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	border:1px solid #2f99cb;
	display:inline-block;
	color:#2f99cb;
	font-size:1.1em;
	margin-top:10px;
	margin-left:15px;
	padding:6px 24px;
	text-decoration:none;
}.button1:active {
	position:relative;
	top:4px;
}

.pointed1 {
    position: relative;
    margin: 0 auto;
	margin-top:5px;
	text-align: center;
    width: 75px;
    height: 3px;
    background-color: #e52e00;
}
.pointed1:after,
.pointed1::after {
    position: absolute;
    top: -100%;
    left: 100%;
    margin-left: -60%;
    content: '';
    width: 0;
    height: 0;
    border-bottom: solid 6px #e52e00;
    border-left: solid 6px transparent;
    border-right: solid 6px transparent;
}

.pointed2 {
    position: relative;
    margin: 0 auto;
	margin-top:5px;
	text-align: center;
    width: 75px;
    height: 3px;
    background-color: grey;
}
.pointed2:after,
.pointed2::after {
    position: absolute;
    top: -100%;
    left: 100%;
    margin-left: -60%;
    content: '';
    width: 0;
    height: 0;
    border-bottom: solid 6px grey;
    border-left: solid 6px transparent;
    border-right: solid 6px transparent;
}

.attemptedMessage{
	font-size: 1.5em;
	vertical-align: center;
	margin-top: 85px;
	width: 920px;
	text-align: center;
}

.notAttemptedMessage{
	font-size: 1.5em;
	vertical-align: center;
	margin-top: 85px;
	width: 920px;
	text-align: center;
}

.lockedMessage{
	font-size: 1.5em;
	vertical-align: center;
	margin-top: 85px;
	width: 920px;
	text-align: center;
}

.semitransparent {filter: alpha(opacity=10); -moz-opacity: 0.1; -khtml-opacity: 0.1; opacity: 0.1;}

.closedImage{
	background: url('../../assets/rewards/close1.png') no-repeat 0 0;
	width: 20px;
	height: 20px;
	display: none;
	margin-left: 140px;
	margin-top: -20px;
	z-index: 100;
}

.lockedText {
	margin-top: -125px;
	width: 140px;
	padding: 10px;
	font-size: 13px;
	height: 70px;
	display:none;
}

.lockedActivity {
	position: relative;
	background: url('../../assets/locked.png') no-repeat 10px -82px;
	width: 40px;
	height: 35px;
	background-position-x: 8px;
	margin-left: 62px;	
	cursor: pointer;
	display:none;
}
@media (max-width: 1280px){
	.mainContainer{
		margin-left:6%;
	}
	.mainContainer1{
		margin-left:6%;
	}
	.mainContainer2{
		margin-left:6%;
	}
	.mainContainer3{
		margin-left:6%;
	}
}
@media (max-width: 1024px){
	#progress_bar{
		width:220px;
	}
	#toolContainer{
		margin-left:92%;
	}
	.bubble 
	{
		margin-left:1%;
	}
	#clickText{
		margin-left: 9%;
		width:200px;
		font-size: 1.1em;
	}
	.mainContainer{
		margin-left:1%;
		width:920px;
	}
	.mainContainer1{
		margin-left:1%;
		width:920px;
	}
	.mainContainer2{
		margin-left:1%;
		width:920px;
	}
	.mainContainer3{
		margin-left:1%;
		width:920px;
	}
}

