#reportIcon {
	background: url('../../../../assets/rewards/themeGirl/changetopic.png') no-repeat 1px 3px;
	background-color: #E6E6E6;
}

#questionTrailIcon {
	background: url('../../../../assets/rewards/themeGirl/endsession.png') no-repeat 1px 3px;
	background-color: #E6E6E6;
}