
@font-face {
  font-family: 'CurlzMT';
  src: url('CurlzMT.eot?#iefix') format('embedded-opentype'),  url('CurlzMT.woff') format('woff'), url('CurlzMT.ttf')  format('truetype'), url('CurlzMT.svg#CurlzMT') format('svg');
  font-weight: normal;
  font-style: normal;
}
