body {
	min-width:1024px;
}
#top_bar{
	position:fixed;
}

#sparkieContainer{
	display:none;
}

#info_bar{
	position: relative;
	/*height:140px;*/
	width:100%;
	-webkit-box-shadow: 0px 3px 2px rgba(50, 50, 50, 0.2);
	-moz-box-shadow:    0px 3px 2px rgba(50, 50, 50, 0.2);
	box-shadow:         0px 3px 2px rgba(50, 50, 50, 0.2);
	overflow-x: hidden;
	overflow-y: hidden;
}

#session {
	margin-left:7%;
	padding-top:5px;
	float:left;
	font-size:1.2em;
}
#duration {
	margin-left:7%;
	padding-top:5px;
	float:left;
	font-size:1.2em;
}
#sparkieInfo {
	margin-right:33%;
	padding-top:5px;
	float:right;
	font-size:1.2em;
}

#topic{
	width:60%;
	height:98px;
	float   :left;
	margin-left:7%;
	margin-top:15px;
	 padding: 0px 2px 2px 3px;
   	border-width: 1px;
   border-bottom-width:1px;
   border-bottom-color:#e52e00;
   border-bottom-style: solid;
   border-left-width:8px;
   border-left-color:#e52e00;
   border-left-style: solid;
}



#homeIcon {
	background: url('../../assets/Home_white.png') no-repeat 0 0;
	width: 50px;
	height: 43px;
	font-variant: small-caps;
	padding-bottom: 2px;
	cursor:pointer;

}
#homeIcon:hover {
	transform : scale(1.1);
	-webkit-transform : scale(1.1);
	-o-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
}
#homeText{
	font-size:12px;
	color:#e52e00;
	cursor:pointer;
	font-family: 'Conv_HelveticaLTStd-Cond';
	color:white;
	text-align: center;
}

.icon_text{
	position: relative;
	font-size:1em;
	width: 45px;
	text-align:center;
	margin-top:35px;
}
#endSession{
	background: url('../../assets/EndSession.png') no-repeat 0 -82px;
	width: 36px;
	height: 31px;
	margin-right:-190px;
	float: right;
	margin-top:50px;
}

.icon_text1{
	position: relative;
	font-size:1.8em;
	width:178px;
	text-align:center;
	margin-top:45px;
	color:#e52e00;
}
.logout:hover{
	transform : scale(1.1);
	-webkit-transform : scale(1.1);
	-o-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);

}
#topic_name{
	font-size:1.8em;
	width:50%;
	color:#606062;
	float:left;
	margin-left:8%;
	margin-top:20px;
}

#totalQuestion{
	padding-top:10px;
	float: left;
}

#challengeQues,#totalQuestionCorrect{
	padding-top:10px;
	float: right;
}
#totalQuestionCorrect {
	margin-right:5%;
}
#totalQuestionText,#totalQuestionCorrectText,#challengeQuesText,#challengeQuesAttemptedText,#challengeQuesCorrectText {
	font-size:1.25em;
	color:#606062;
}
#totalQuestionDigit,#totalQuestionCorrectDigit,#challengeQuesAttemptedDigit,#challengeQuesCorrectDigit {
	font-size:1.25em;
	color:#e52e00;
}

#activitiesContainer{
	overflow-y: scroll;
	width:100%;
	height: 415px;
}

#clickText{
	font-size:1.25em;
	color:#000000;
	margin-left:7%;
	margin-top:10px;
}


#studentInfo {
	float:right;
	width:30%;
}
#studentInfoLower {
	width:90%;
	height:73px;
}

#childNameDiv {
	float:right;
	margin-right: 10%;
}

#prevReport {
	float:right;
	font-size:1.25em;
	text-align:center;
	cursor:pointer;
}
#prevReportText {
	width:80px;
	text-align:center;
	padding-top:10px;
}
#prevReportImote {
	background:url(../../assets/endSession/previousreport.png) no-repeat 0 0;
	width:24px;
	height:20px;
	margin-left:25px;
}

#prevReportUl {
    position: relative;
    margin: 0 auto;
	margin-top:5px;
    width: 45px;
    height: 3px;
    background-color: grey;
}
#prevReportUl:after,
#prevReportUl::after {
    position: absolute;
    top: -100%;
    left: 100%;
    margin-left: -60%;
    content: '';
    width: 0;
    height: 0;
    border-bottom: solid 6px grey;
    border-left: solid 6px transparent;
    border-right: solid 6px transparent;
}

#viewComment {
	float:right;
	margin-right:50px;
	font-size:1.25em;
	cursor:pointer;
}
#viewCommentText {
	width:80px;
	text-align:center;
}

#viewCommentImote {
	background:url(../../assets/endSession/viewcomments.png) no-repeat 0 0;
	width:30px;
	height:30px;
	margin-left:25px;
}

#viewCommentUl {
    position: relative;
    margin: 0 auto;
	margin-top:5px;
    width: 68px;
    height: 3px;
    background-color: grey;
}
#viewCommentUl:after,
#viewCommentUl::after {
    position: absolute;
    top: -100%;
    left: 100%;
    margin-left: -60%;
    content: '';
    width: 0;
    height: 0;
    border-bottom: solid 6px grey;
    border-left: solid 6px transparent;
    border-right: solid 6px transparent;
}

#pnlContainer {
    height: 390px;
    padding: 94px 0 0;
}

#headingDiv {
	color:#606062;
	font-size:2em;
	text-align:center;
}

.imagediv
{
	/*
	    width: 123px;
    height: 92px;
    background-color: #8A1BE6;

	vertical-align: middle;	*/
}
.titleLink
{
	color:#913410;
}

.lnkAllFeatures
{
	color:black;
	font-weight: bold;
}
.tagGame {
	background: url('images/whatsnew.png') no-repeat 0 0;
	width: 22px;
	height: 22px;
	display:inline-block;
	cursor:pointer;
}
.tagRemedial {
	background: url('images/whatsnew.png') no-repeat -35px 0;
	width: 23px;
	height: 22px;
	display:inline-block;
	cursor:pointer;
}
.tagEnrichment {
	background: url('images/whatsnew.png') no-repeat -71px 0;
	width: 23px;
	height: 22px;
	display:inline-block;
	cursor:pointer;
}
.tagFeature {
	background: url('images/whatsnew.png') no-repeat -107px 0;
	width: 22px;
	height: 22px;
	display:inline-block;
	cursor:pointer;
}

.linkToMore {
	    float: right;
    vertical-align: top;
    border-bottom: 2px solid #e75903;
    height: 35px;
    /*-moz-border-radius: 20px;*/
    /* -webkit-border-radius: 20px; */
    /* border-radius: 20px; */
    font-size: 1.8em;
    margin-right: 30px;
    /*padding-top: 5px;*/
    text-align: center;
    cursor: pointer;
    color: #000;
    padding-left: 12px;
    padding-right: 12px;
    /* font-variant: small-caps; */
    font-family: 'Conv_HelveticaLTStd-Cond';
    transition: background .5s linear;
}
.linkToMore:hover{
	background:rgb(195, 222, 150);
}

#heading {
	color:#606062;
	text-align:center;
	font-size:1.8em;
	font-family: 'Conv_HelveticaLTStd-BoldCond';
	padding: 8px;
}
.sideHead {
	float:left;
	vertical-align:
	bottom;font-size:medium;
	color:#e75903;
	font-size:1.8em;
	padding-bottom: 9px ;
	/*border-bottom: 2px solid black;*/
	font-family: 'Conv_HelveticaLTStd-Cond';
}
.activityHead {
	font-size:1.25em;
	color:#E75903;
	font-family: 'Conv_HelveticaLTStd-BoldCond';
}
.whatsNewContent {
	font-size:1.25em;
	color:000;
}

.tagGame {
	border:2px solid #9ec956;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	color:#9ec956;
	text-align:center;
	padding-top:7px;
	width: 30px;
	height: 23px;
	display:inline-block;
	
}
.tagGame[tooltip]:hover:after{
  content: attr(tooltip);
  margin-left : 18px;
  margin-bottom: 4px;
  padding: 4px 8px;
  color: black;
  position: absolute;
  /*left: 4px;
  top: 100%;
  z-index: 20;*/
  white-space: nowrap;
  opacity :0.8;
  
  background :#2f99cb;
}
.tagRemedial {
	border:2px solid #9ec956;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	color:#9ec956;
	text-align:center;
	padding-top:7px;
	width: 30px;
	height: 23px;
	display:inline-block;
	
}
.tagRemedial[tooltip]:hover:after{
  content: attr(tooltip);
  margin-left : 18px;
  margin-bottom: 4px;
  padding: 4px 8px;
  color: black;
  position: absolute;
  /*left: 4px;
  top: 100%;
  z-index: 20;*/
  white-space: nowrap;
  opacity :0.8;
  
  background :#2f99cb;
}
.tagEnrichment {
	border:2px solid #9ec956;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	color:#9ec956;
	text-align:center;
	padding-top:7px;
	width: 30px;
	height: 23px;
	display:inline-block;
	
}
.tagEnrichment[tooltip]:hover:after{
  content: attr(tooltip);
  margin-left : 18px;
  margin-bottom: 4px;
  padding: 4px 8px;
  color: black;
  position: absolute;
  /*left: 4px;
  top: 100%;
  z-index: 20;*/
  white-space: nowrap;
  opacity :0.8;
  
  background :#2f99cb;
}
.tagFeature {
	border:2px solid #9ec956;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	color:#9ec956;
	text-align:center;
	padding-top:7px;
	width: 30px;
	height: 23px;
	display:inline-block;
	
}
.tagFeature[tooltip]:hover:after{
  content: attr(tooltip);
  margin-left : 18px;
  margin-bottom: 4px;
  padding: 4px 8px;
  color: black;
  position: absolute;
  /*left: 4px;
  top: 100%;
  z-index: 20;*/
  white-space: nowrap;
  opacity :0.8;
  
  background :#2f99cb;
}
#home {
	       position: absolute;
    right: 22%;
    margin-top: 10px;
    margin: top;
    /* float: right; */
    /* margin-right: 26%; */
    margin-top: 18px;
    color: white;
    
}
@media (max-width: 1024px) {
	#home {
		margin-top: 4px;
	}

}