.Name {
		position:absolute;
        text-decoration :none;
		font-size:14px;
		margin-top:-35px;
        margin-left:30%;
		color:#0099ff;
}
.class
{
		position:absolute;
        font-size:14px;
		margin-top:-20px;
		 margin-left:30%;
		color:#999999;
}

#NA{
	display:none;
}

#A{
	display:none;
}

#naM{
	display:none;
}

#lowerClassProgress{
	position:absolute;
	margin-left:26%;
	margin-top:5px;
	width: 50%;
	height: 50px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background-color:#ffffff;
}

#home{
	position: absolute;
	background: url('../../assets/Home_red.png') no-repeat 0 0;
	width: 50px;
	margin-left:10px;
	height: 43px;
	-webkit-transform:scale(0.4,0.4);
	-moz-transform :scale(0.4,0.4);
	-ms-transform :scale(0.4,0.4);
	-o-transform :scale(0.4,0.4);
	transform :scale(0.4,0.4);
}

.icon_text2{
	position: relative;
	font-size:1.3em;
	margin-left:50px;
	width: 165px;
	margin-top:10px;
	text-align:center;
}


#aM{
	display:none;
}

#topic{
	display:none;
}

#locked{
	display:none;
}

#new{
	display:none;
}

#locked{
	background: url('../../assets/locked.png') no-repeat 0 -82px;
	width: 40px;
	height: 31px;
	background-position-x:8px;
	margin-right:-120px;
	float: right;
	margin-top:58px;
	cursor: pointer;
}


.icon_text{
	position: relative;
	font-size:1em;
	width: 45px;
	text-align:center;
	margin-top:35px;
}

.icon_text1{
	position: relative;
	font-size:1.8em;
	width:178px;
	text-align:center;
	margin-top:45px;
	color:#e52e00;
}

#dob{
	font-size:1.3em;
	margin-top:10px;
	padding-bottom:45px;
	float: right;
	margin-right:30px;
}

#formContainer{
	margin-left:2%;
	background-image: url('../../assets/lowerClass/background-white-questionpage.png');
	background-repeat: no-repeat;
	background-size:96% 92%;
	width: 100%;
	min-height:400px;
}


#container_form{
	position:relative;
	float:left;
	overflow-y: scroll;
	height:465px;
	width:87%;
	margin-left:8%;
	font-size:16px;
	min-height:280px;
}

#question{
	margin-top:25px;
}

#answer,#currentP,#newP,#retypeP{
	margin-top:15px;
}

.Box{
	height:20px;
	vertical-align:center;
	width:20%;
	margin-top:5px;
	border-color:#e52e00;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}

.Box1{
	height:25px;
	vertical-align:center;
	width:20%;
	margin-top:5px;
	border-color:#e52e00;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}

#submitQuestion{
	margin-top:30px;
	margin-left:35%;
}


#notattemptedC{
	overflow-x: hidden;
	overflow-y: scroll;
	width:90%;
	margin-left:30px;
	height:350px;
	margin-top:150px;
}

#attemptedC{
	overflow-x: scroll;
	overflow-y: hidden;
	width:90%;
	margin-left:30px;
	margin-top:-20px;
}

#clickText{
	font-size:1.25em;
	color:#000000;
	margin-left:7%;
	margin-top:10px;
}

#largeContainer{
	position:relative;
	margin-left:1%;
	width:100%;
	margin-top:-70px;
}

#smallContainer{
	display: inline-block;
	text-align:center;
	margin-top:80px;
	margin-left:30px;
}

#activitiesImage{
	height:90px;
	width:120px;
	background-color:grey;
}

#notificationTop{
	float:right;
	background: url('../../assets/new_notification.png') no-repeat 0 0;
	width: 70px;
	height: 70px;
}

#activitiesName{
	font-size:1.1em;
	color:#000000;
	width:120px;
}

#topicName{
	font-size:1.1em;
	color:#e52e00;
	margin-top:5px;
	width:120px;
}

#smallContainer1{
	display: inline-block;
	text-align:center;
	margin-top:20px;
	margin-left:30px;
}

#activitiesImage1{
	height:90px;
	width:120px;
	background-color:grey;
}

#activitiesName1{
	font-size:1.1em;
	color:#000000;
	width:120px;
}

#topicName1{
	font-size:1.1em;
	color:#e52e00;
	margin-top:5px;
	width:120px;
}

#smallContainer2{
	display: inline-block;
	text-align:center;
	margin-top:20px;
	margin-left:30px;
}

#activitiesImage2{
	height:90px;
	width:120px;
	background-color:grey;
}

#activitiesName2{
	font-size:1.1em;
	color:#000000;
	width:120px;
}

#topicName2{
	font-size:1.1em;
	color:#e52e00;
	margin-top:5px;
	width:120px;
}

#smallContainer3{
	display: inline-block;
	text-align:center;
	margin-top:20px;
	margin-left:30px;
}

#activitiesImage3{
	height:90px;
	width:120px;
	background-color:grey;
}

#activitiesName3{
	font-size:1.1em;
	color:#000000;
	width:120px;
}

#topicName3{
	font-size:1.1em;
	color:#e52e00;
	margin-top:5px;
	width:120px;
}

#smallContainer4{
	display: inline-block;
	text-align:center;
	margin-top:20px;
	margin-left:30px;
}

#activitiesImage4{
	height:90px;
	width:120px;
	background-color:grey;
}

#activitiesName4{
	font-size:1.1em;
	color:#000000;
	width:120px;
}

#topicName4{
	font-size:1.1em;
	color:#e52e00;
	margin-top:5px;
	width:120px;
}

#smallContainer5{
	display: inline-block;
	text-align:center;
	margin-top:20px;
	margin-left:30px;
}

#activitiesImage5{
	height:90px;
	width:120px;
	background-color:grey;
}

#activitiesName5{
	font-size:1.1em;
	color:#000000;
	width:120px;
}

#topicName5{
	font-size:1.1em;
	color:#e52e00;
	margin-top:5px;
	width:120px;
}

#smallContainer6{
	display: inline-block;
	text-align:center;
	margin-top:20px;
	margin-left:30px;
}

#activitiesImage6{
	height:90px;
	width:120px;
	background-color:grey;
}

#activitiesName6{
	font-size:1.1em;
	color:#000000;
	width:120px;
}

#topicName6{
	font-size:1.1em;
	color:#e52e00;
	margin-top:5px;
	width:120px;
}


.emote{
	background: url('../../assets/feedback.png') no-repeat 0 -72px;
	width: 64px;
	height: 61px;
	margin-left:5%;
	float: left;
	margin-top:2%;
}


#sparkie_text{
	font-size:16px;
	text-align:center;
}

#wrong_text{
	position: absolute;
	margin-left:10%;
	margin-top:3%;
	color:black;
}

#incorrect_text{
	margin-left:30%;
	margin-top:20px;
	color:#000000;
	font-size:1.8em;
}

#next{
	float:left;
	margin-left:7%;
	font-size:12px;
}

#rate{
	position:fixed;
	background: url('../../assets/rate_icon.png') no-repeat 0 0;
	width: 32px;
	height: 32px;
	margin-left:20px;
	z-index:1;
	-webkit-transform:scale(0.9,0.9);
	-moz-transform :scale(0.9,0.9);
	-ms-transform :scale(0.9,0.9);
	-o-transform :scale(0.9,0.9);
	transform :scale(0.9,0.9);
}

#toolContainer{
	position:fixed;
	width: 65px;
	height: 50px;
	margin-left:94%;
	margin-top:240px;
	border: 1px solid #e52e00;
	z-index:2;
	-webkit-transform:scale(0.9,0.9);
	-moz-transform :scale(0.9,0.9);
	-ms-transform :scale(0.9,0.9);
	-o-transform :scale(0.9,0.9);
	transform :scale(0.9,0.9);
}
#toolContainer:after 
{
content: "";
position: absolute;
bottom:0px;
border-style: solid;
border-width: 0px 15px 15px 0;
border-color: #e52e00 transparent;
display: block;
width: 0;
z-index: 2;
-webkit-transform:scale(0.9,0.9);
	-moz-transform :scale(0.9,0.9);
	-ms-transform :scale(0.9,0.9);
	-o-transform :scale(0.9,0.9);
	transform :scale(0.9,0.9);
}

.toolbarText{
	position: relative;
	color:#e52e00;
	margin-top:30px;
}

#confused{
	position:fixed;
	background: url('../../assets/confused.png') no-repeat 0 0;
	width: 27px;
	height: 45px;
	z-index:1;
	margin-top:-270px;
	margin-left:20px;
	-webkit-transform:scale(0.9,0.9);
	-moz-transform :scale(0.9,0.9);
	-ms-transform :scale(0.9,0.9);
	-o-transform :scale(0.9,0.9);
	transform :scale(0.9,0.9);
}

.toolbarText1{
	position: relative;
	color:#e52e00;
	margin-top:45px;
	margin-left:-20px;
}



#bored{
	position:fixed;
	background: url('../../assets/bored.png') no-repeat 0 0;
	width: 27px;
	height: 45px;
	z-index:1;
	margin-top:-215px;
	margin-left:20px;
	-webkit-transform:scale(0.9,0.9);
	-moz-transform :scale(0.9,0.9);
	-ms-transform :scale(0.9,0.9);
	-o-transform :scale(0.9,0.9);
	transform :scale(0.9,0.9);
}

.toolbarText2{
	position: relative;
	color:#e52e00;
	margin-top:45px;
	margin-left:-5px;
}

#excited{
	position:fixed;
	background: url('../../assets/excited.png') no-repeat 0 0;
	width: 27px;
	height: 45px;
	z-index:1;
	margin-top:-155px;
	margin-left:20px;
	-webkit-transform:scale(0.9,0.9);
	-moz-transform :scale(0.9,0.9);
	-ms-transform :scale(0.9,0.9);
	-o-transform :scale(0.9,0.9);
	transform :scale(0.9,0.9);
}

.toolbarText3{
	position: relative;
	color:#e52e00;
	margin-top:45px;
	margin-left:-15px;
}

#dislike{
	position:fixed;
	background: url('../../assets/dislike.png') no-repeat 0 0;
	width: 28px;
	height: 32px;
	z-index:1;
	margin-top:-96px;
	margin-left:20px;
	-webkit-transform:scale(0.9,0.9);
	-moz-transform :scale(0.9,0.9);
	-ms-transform :scale(0.9,0.9);
	-o-transform :scale(0.9,0.9);
	transform :scale(0.9,0.9);
}

.toolbarText4{
	position: relative;
	color:#e52e00;
	margin-top:32px;
	margin-left:-10px;
}

#like{
	position:fixed;
	background: url('../../assets/like.png') no-repeat 0 0;
	width: 28px;
	height: 32px;
	z-index:1;
	margin-top:-49px;
	margin-left:20px;
	-webkit-transform:scale(0.9,0.9);
	-moz-transform :scale(0.9,0.9);
	-ms-transform :scale(0.9,0.9);
	-o-transform :scale(0.9,0.9);
	transform :scale(0.9,0.9);
}

.toolbarText5{
	position: relative;
	color:#e52e00;
	margin-top:33px;
}

#comment{
	position:fixed;
	background: url('../../assets/comment.png') no-repeat 0 0;
	width: 32px;
	height: 34px;
	z-index:1;
	margin-top:55px;
	margin-left:20px;
	-webkit-transform:scale(0.9,0.9);
	-moz-transform :scale(0.9,0.9);
	-ms-transform :scale(0.9,0.9);
	-o-transform :scale(0.9,0.9);
	transform :scale(0.9,0.9);
}

.toolbarText6{
	position: relative;
	color:#e52e00;
	margin-top:33px;
	margin-left:-20px;
}

#elements{
	display:none;
}


.button1 {
	background-color:#e52e00;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	border:1px solid #e52e00;
	display:inline-block;
	color:white;
	font-size:1.1em;
	margin-top:10px;
	margin-left:15px;
	padding:6px 24px;
	text-decoration:none;
}.button1:active {
	position:relative;
	top:4px;
}

.pointed1 {
    position: relative;
    margin: 0 auto;
	margin-top:5px;
	text-align: center;
    width: 75px;
    height: 3px;
    background-color: #e52e00;
}
.pointed1:after,
.pointed1::after {
    position: absolute;
    top: -100%;
    left: 100%;
    margin-left: -60%;
    content: '';
    width: 0;
    height: 0;
    border-bottom: solid 6px #e52e00;
    border-left: solid 6px transparent;
    border-right: solid 6px transparent;
}

.pointed2 {
    position: relative;
    margin: 0 auto;
	margin-top:5px;
	text-align: center;
    width: 75px;
    height: 3px;
    background-color: grey;
}
.pointed2:after,
.pointed2::after {
    position: absolute;
    top: -100%;
    left: 100%;
    margin-left: -60%;
    content: '';
    width: 0;
    height: 0;
    border-bottom: solid 6px grey;
    border-left: solid 6px transparent;
    border-right: solid 6px transparent;
}

@media (max-width: 1024px){
	#progress_bar{
		width:220px;
	}
	#toolContainer{
		margin-left:92%;
	}
	.bubble 
	{
		margin-left:1%;
	}
}
@media (max-width: 800px){

}
