body{
    background: #b1d8f5; /* Old browsers */
background: -moz-linear-gradient(top,  #b1d8f5 0%, #bee4f8 25%, #c8eefb 46%, #e1ffff 70%, #e1ffff 70%, #ffffff 78%, #ffffff 78%, #fdffff 93%, #ffffff 93%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #b1d8f5 0%,#bee4f8 25%,#c8eefb 46%,#e1ffff 70%,#e1ffff 70%,#ffffff 78%,#ffffff 78%,#fdffff 93%,#ffffff 93%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #b1d8f5 0%,#bee4f8 25%,#c8eefb 46%,#e1ffff 70%,#e1ffff 70%,#ffffff 78%,#ffffff 78%,#fdffff 93%,#ffffff 93%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b1d8f5', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
ageTransform.Microsoft.gradient( startColorstr='#b1d8f5', endColorstr='#fdffff',GradientType=0 ); /* IE6-9 */

}
#container1 {
  background-image: url(../../../assets/rewards/themeRepublicDay/plane.gif), url(../../../assets/rewards/themeRepublicDay/cloudBack.png), url(../../../assets/rewards/themeRepublicDay/grass.png),url(../../../assets/rewards/themeRepublicDay/cloudFront.png);
background-repeat: no-repeat,no-repeat,repeat-x,no-repeat;
background-position: 0px 200px, 800px 80px, 0px 420px, 800px 40px ;
/*height: 100%;
left: 0;
position: absolute;
top: 0;
width: 100%;*/
z-index:1;
-webkit-animation: snow 20s linear infinite;
-moz-animation: snow 20s linear infinite;
-ms-animation: snow 20s linear infinite;
animation: snow 20s linear infinite;
}
@keyframes snow {
 0% {background-position: 0px 200px, 1000px 80px, 1000px 420px, 800px 40px ;}
 25% {background-position: 200px 250px, 700px 80px, 700px 420px, 700px 40px;}
 50% {background-position: 300px 200px, 400px 80px, 500px 420px, 500px 40px;}
 75% {background-position: 600px 150px, 200px 80px, 200px 420px,400px 40px;}
 100% {background-position: 1200px 200px, 0px 80px, 0px 420px, 100px 40px;}


}
@-moz-keyframes snow {
 0% {background-position: 0px 200px, 1000px 80px, 1000px 420px, 800px 40px ;}
 25% {background-position: 200px 250px, 700px 80px, 700px 420px, 700px 40px;}
 50% {background-position: 300px 200px, 400px 80px, 500px 420px, 500px 40px;}
 75% {background-position: 600px 150px, 200px 80px, 200px 420px,400px 40px;}
 100% {background-position: 1200px 200px, 0px 80px, 0px 100%, 100px 40px;}
}
 @-webkit-keyframes snow  {
 0% {background-position: 0px 200px, 1000px 80px, 1000px 420px, 800px 40px ;}
 25% {background-position: 200px 250px, 700px 80px, 700px 420px, 700px 40px;}
 50% {background-position: 300px 200px, 400px 80px, 500px 420px, 500px 40px;}
 75% {background-position: 600px 150px, 200px 80px, 200px 420px,400px 40px;}
 100% {background-position: 1200px 200px, 0px 80px, 0px 100%, 100px 40px;}
}
 @-ms-keyframes snow {
 0% {background-position: 0px 200px, 1000px 80px, 1000px 420px, 800px 40px ;}
 25% {background-position: 200px 250px, 700px 80px, 700px 420px, 700px 40px;}
 50% {background-position: 300px 200px, 400px 80px, 500px 420px, 500px 40px;}
 75% {background-position: 600px 150px, 200px 80px, 200px 420px,400px 40px;}
 100% {background-position: 1200px 200px, 0px 80px, 0px 100%, 100px 40px;}

}
#top_bar{
	background: #FF7703;
}
#sparkieWon{
	color:#3C3517;
}
#nameIcon{
	background:none;
}
#continueEmotText:hover {
    background-color: rgba(158, 201, 86, 0.59);
    border: 2px solid;
    /* transform: translate(1em); */
    border-radius: 15px;
}

#continueButtonDiv {
	background: url('../../../assets/rewards/themeRepublicDay/tri-color.jpg') no-repeat scroll 2% 35%;
	width: 200px;
	float: left;
	margin-left: 15%;
}

#continueEmotText {
	background: url(../../../assets/rewards/themeChristmasLower/continue-button.png) no-repeat 0 0;
	width: 161px;
	height: 44px;
	font-size: 2.25em;
	padding: 14px 0px 0px 22px;
	color: #000;
	margin-left: 39px;
	margin-top: 0px;
}
.aqadBlink{
	background: url('../../../assets/rewards/themeRepublicDay/chakra.png') no-repeat !important;
	width:40px;
	height:40px;
}

#inProgressIcon {
	background: url('../../../assets/rewards/themeRepublicDay/emblem.png') no-repeat 0px 0px;
	width: 67px;
	height: 56px;
	margin-left: 25px;
}

#inProgressText {
	color: #000;
}

#body_kudo_lower {
	
	background: url('../../../assets/rewards/themeChristmasLower/background.jpg') no-repeat 50% 260px;

}
	

