html,body{
	padding: 0px;
	margin: 0px;
}

.arrow {
	margin-top: 0px;	
	margin-left: 0px;	
	cursor: pointer;
	font-size: 20px;
	font-weight: bold;
	display: inline-block;
	line-height: 0px;
	padding: 11px 3px;
	padding: 6px 1px;
	z-index: 10000;
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#08C0FE), to(#0093C4));
	background:-moz-linear-gradient(#08C0FE, #0093C4);/* (#2e88c4, #075698) */
	background:-o-linear-gradient(#08C0FE, #0093C4);
	background:linear-gradient(#08C0FE, #0093C4);
	background: -ms-linear-gradient(top, #08C0FE 0%,#0093C4 50%,#08C0FE 51%,#0093C4 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#08C0FE', endColorstr='#0093C4',GradientType=0 );
    border: 1px solid;
}

.arrow:hover 
{
	/*margin-top: 2px;
	margin-left: -2px;*/
	cursor: pointer;
	border: 1px solid #AEAEAE;
	background: #dadada;
	font-size: 20px;/*22px*/
	font-weight: bold;
	display: inline-block;
	line-height: 0px;
	/*padding: 6px 0px;*/
	z-index: 10000;
	/*-moz-box-shadow:    0px 0px 8px #888888;
    -webkit-box-shadow: 0px 0px 8px #888888;
	box-shadow: 0px 0px 8px #888888;*/
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#0093C4), to(#08C0FE));
	background:-moz-linear-gradient(#0093C4, #08C0FE);/* (#2e88c4, #075698) */
	background:-o-linear-gradient(#0093C4, #08C0FE);
	background:linear-gradient(#0093C4, #08C0FE);
	background: -ms-linear-gradient(top, #0093C4 0%,#08C0FE 50%,#0093C4 51%,#08C0FE 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#08C0FE', endColorstr='#08C0FE',GradientType=0 );
    border: 1px solid;
}
.arrow:before{
 	content: "×";
}

#closeBtn
{
	top: 1.375em;
	position: absolute;
	left: 0.688em;
	cursor: pointer;
	pointer-events:all;
	z-index: 10;
}


/* ============================================================================================================================
== BUBBLE WITH A RIGHT-ANGLED TRIANGLE
** ============================================================================================================================ */

/* THE SPEECH BUBBLE
------------------------------------------------------------------------------------------------------------------------------- */

.triangle-right {
	font-family: 'Conv_HelveticaLTStd-Roman';
	width: 15em;
	min-height: 2.1em;
	position:relative;
	padding:1em;
	margin:1em 0 3em;
	font-size: 1.2em;
	color:#fff;
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#08C0FE), to(#0093C4));
	background:-moz-linear-gradient(#08C0FE, #0093C4);/* (#2e88c4, #075698) */
	background:-o-linear-gradient(#08C0FE, #0093C4);
	background:linear-gradient(#08C0FE, #0093C4);
	background: -ms-linear-gradient(top, #08C0FE 0%,#0093C4 50%,#08C0FE 51%,#0093C4 100%);
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#08C0FE', endColorstr='#0093C4',GradientType=0 );*/
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;	
	background-color: #0093C4;
    box-shadow: inset 0 -8px 10px rgba(0,0,0,0.15), 0 1px 0 rgba(255,255,255, 0.3), inset 0 1px 0 rgba(255,255,255, 0.3);    
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none; 
}

/* Variant : for top positioned triangle
------------------------------------------ */

.triangle-right.top {
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#08C0FE), to(#0093C4));
	background:-moz-linear-gradient(#08C0FE, #0093C4);/* (#2e88c4, #075698) */
	background:-o-linear-gradient(#08C0FE, #0093C4);
	background:linear-gradient(#08C0FE, #0093C4);
}

/* Variant : for left positioned triangle
------------------------------------------ */

.triangle-right.left {
	margin-left:2.5em;
	/*background:#075698;*/
}

/* Variant : for right positioned triangle
------------------------------------------ */

.triangle-right.right {
	margin-right:2.5em;
	/*background:#075698;*/
}

/* THE TRIANGLE
------------------------------------------------------------------------------------------------------------------------------- */

.triangle-right:after {
	content:"";
	position:absolute;
	bottom:-1.250em; /* value = - border-top-width - border-bottom-width */
	left:3.125em; /* controls horizontal position */
	border-width:1.250em 0 0 1.250em; /* vary these values to change the angle of the vertex */
	border-style:solid;
	border-color:#0093C4 transparent; 
    /* reduce the damage in FF3.0 */
    display:block; 
    width:0;
}

/* Variant : top
------------------------------------------ */

.triangle-right.top:after {
	top:-1.250em; /* value = - border-top-width - border-bottom-width */
	right:3.125em; /* controls horizontal position */
	bottom:auto;
	left:auto;
	border-width:1.250em 1.250em 0 0; /* vary these values to change the angle of the vertex */
	border-color:transparent #0093C4; 
}

/* Variant : left
------------------------------------------ */

.triangle-right.left:after {
	top:1em; 
	left:-2.500em; /* value = - border-left-width - border-right-width */
	bottom:auto;
	border-width:0.938em 2.500em 0 0; /* vary these values to change the angle of the vertex */
	border-color:transparent #0093C4; 
}

/* Variant : right
------------------------------------------ */

.triangle-right.right:after {
	top:1em; 
	right:-2.500em; /* value = - border-left-width - border-right-width */
	bottom:auto;
    left:auto;
	border-width:.9em 0 0 2.500em; /* vary these values to change the angle of the vertex */
	border-color:transparent #0093C4 ; 
}

#showBuddyDiv
{
	background-image: url('../assets/buddy_1.png');
	top: 18.313em;
	left: 0.313em;
	width: 60px;
	height: 48px;
	position: absolute;
	cursor: pointer;
	background-size: 100% 100%;
	display: none;
	z-index:10;
}

#showBuddyDiv:hover
{
	background-image: url('../assets/buddy_2.png');
}

#ichar
{
	position: absolute;
	z-index:9999;
	cursor: default;
	pointer-events: none;
}

.buddyOpacity {
	opacity:1;
}
