
@font-face {
  font-family: 'KingthingsExeter';
  src: url('KingthingsExeter.eot?#iefix') format('embedded-opentype'),  url('KingthingsExeter.woff') format('woff'), url('KingthingsExeter.ttf')  format('truetype'), url('KingthingsExeter.svg#KingthingsExeter') format('svg');
  font-weight: normal;
  font-style: normal;
}
