body{
	 -moz-user-select:-moz-none;
}
#smtable {
    background-color: #ABDDFE;
    height: 39%;
    left: 50.5%;
    position: absolute;
    top: 57%;
    width: 26%;
    z-index: -1;
    display: none;
    -moz-user-select:-moz-none;
}
#stbutton {
    display: none;
    font-family: "Times New Roman";
    height: 10%;
    left: 5%;
    position: absolute;
    top: 62%;
    width: 28%;
     background-color: #D9EDF9;
         border: 1.5px solid gray;
          border-radius: 5px 5px 5px 5px;
}
#stbutton:hover
 {
    border: 2px solid #66BCF1;
}
#statbutton {
    display: none;
    font-family: "Times New Roman";
    height: 7%;
    left: 5%;
    position: absolute;
    top: 60%;
    width: 25%;
       background-color: #D9EDF9;
         border: 1.5px solid gray;
          border-radius: 5px 5px 5px 5px;
}
#statbutton:hover
 {
    border: 2px solid #66BCF1;
}
#dynsttext {
    font-family: "Comic Sans MS";
    height: 23%;
    left: 5%;
    position: absolute;
    top: 77%;
    width: 80%;
    font-weight: bold;
	-webkit-user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
}
.stb {
    border: 1px solid #515151;
    overflow: hidden;
    padding: 0;
    -webkit-user-drag: none;
     -moz-user-select:-moz-none;
    font-weight:bold;
}
.txtstyle {
    background-color: #66CDAA;
    border: medium none;
    font-family: "Times New Roman";
    outline: medium none;
    position: absolute;
    text-align: center;
    font-weight: bold;
    color:black;
    
}
#tabledes {
    background-color: #DEF2FE;
    border: 1px solid black;
    height: 65%;
    left: 79%;
    position: absolute;
    text-align: center;
    top: 30%;
    width: 15%;
	-webkit-user-select: none ;
    -webkit-user-drag: none;
    -moz-user-select: none ;
}
#desheading {
    display: none;
    font-family: "Comic Sans MS";
    font-weight: bold;
    height: 100%;
    top: 0.2%;
    width: 100%;
}
.tabledivr {
    font-weight: bolder;
}
#table {
    left: 10%;
	width:45%;
    position: absolute;
    top: 1%;
      table-layout: fixed;
      -webkit-user-select: none;
      -moz-user-select: -moz-none;
}
#deshedtext {
    height: 7%;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
     -moz-user-select:-moz-none;
      -webkit-user-select: none;
}

#inputboxes {
    font-weight: bold;
    height: 65%;
    left: 10%;
    position: absolute;
    top: 30%;
    width: 35%;
    border: 2px solid black;
    zoom: 1;
}
#directions {
	font-weight: bold;
	height: 65%;
	left: 46%;
	position: absolute;
	top: 30%;
	width: 32%;
	-webkit-user-select: none;
	-moz-user-select: -moz-none;
	-webkit-user-drag: none;
}

#information {
    font-weight: bold;
    height: 20%;
    left: 0;
    position: absolute;
    top: 1%;
    width: 20%;
      -webkit-user-select: none;
      -moz-user-select: -moz-none;
    -webkit-user-drag: none;

}
.inputs {
    border: medium none;
    border-width:1px;
    font-family: "Times New Roman";
    font-size: large;
    font-weight: bold;
    height: 100%;
    opacity: 0;
    text-align: center;
    visibility: hidden;
    width: 98%;
    outline: none;
     display: table-cell;
}

.inputsfill {
    border: medium none;
    font-family: "Times New Roman";
    font-size: large;
    font-weight: bold;
    height: 100%;
    opacity: 0;
    text-align: center;
    visibility: visible;
    width: 90%;
    outline: none;
    display: table-cell;
    
}

.td {
    /*background-color: #87CEFA;*/
    background-color: #89d0fe;
    border: 1px solid;
}

#stlabel {
    font-family: "Comic Sans MS";
    font-weight: bold;
    height: 18%;
    left: 0;
    position: absolute;
    top: 0;
    width: 95%;
}
#inputtable {
    font-weight: bold;
    height: 100%;
    position: absolute;
    table-layout: fixed;
    width: 100%;
    border: none;
    zoom: 1;
}


#headpart {
    background-color: #BCF8FE;
    border: 2px solid #115863;
    border-radius: 8.5px 10px 10px 10px;
    font-family: "Comic Sans MS";
    font-weight:normal;
    left: 35%;
    overflow: visible;
    position: absolute;
    text-align: center;
    text-overflow: ellipsis;
    top: 1%;
    width: 55%;
    z-index: 5;
     padding-top: 7px;  
      padding-right: 5px;  
      padding-bottom: 5px;  
      padding-left: 5px; 
	 cursor:default;
    -webkit-user-drag: none;
     -webkit-user-select: none;
      -moz-user-select: -moz-none;
      
}

#bodypart {
	-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: -moz-none;
-o-user-select: none;

	
    font-family: "Comic Sans MS";
    font-weight: bold;
    left: 5%;
    position: absolute;
    top: 28%;
    width: 95%;
	  height: 72%;   
    overflow: auto;
	cursor:default;
}
#numbervalidate
{
	position: absolute;
	width:10%;
	outline:none;
	-moz-user-select: text;
	
	
}

.tagimage {
    border-bottom: 5px solid transparent;
    border-right: 90px solid #9DF7FB;
    border-top: 30px solid transparent;
    height: 0;
    left: 10%;
    position: absolute;
    top: 2%;
    width: 0;
    z-index: 5;
}
#imgarrow {
    height: 12%;
    left: 10%;
    position: absolute;
    top: 1.2%;
    width: 26.9%;
    z-index: 6;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
}

#question {
    font-weight: bold;
    left: 21%;
    position: absolute;
    top: 25%;
	-webkit-user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
}
#arrowz {
    display: none;
    height: 6%;
    left: 28%;
    position: absolute;
    top: 0;
    width: 2.5%;
}

#quotval {
  display:none;
    height: 3.5%;
    left: 55%;
    position: absolute;
    top: 3.5%;
    width: 6%;
   text-align:center;
    z-index: 4;
    outline: none;
    border-style: solid;
  
}

#remval {
    display:none;
    height: 3.5%;
    left: 76.5%;
    position: absolute;
    top: 3.5%;
    width: 5%;
   border-style:solid;
    z-index: 4;
    text-align: center;
    outline: none;
}
#quotienttest {
    display: none;
    font-family: "Times New Roman";
    font-weight: bold;
    height: 6%;
    left: 43%;
    position: absolute;
    top: 3%;
    width: 13%;
    
}
#remaintest {
    display: none;
    font-family: "Times New Roman";
    font-weight: bold;
    height: 6%;
    left: 63%;
    position: absolute;
    top: 3%;
    width: 13%;
}
#downarrow {
    display: none;
    height: 12%;
    left: 23%;
    position: absolute;
    top: 22%;
    width: 1.3%;
     -moz-user-select:-moz-none;
     -webkit-user-drag: none;
}
#tables {
    display: none;
    font-family: "Comic Sans MS";
    font-weight: bold;
    height: 10%;
    text-align:center;
    position: absolute;
    top: 0;
    width: 74%;
    left:13%;
    text-decoration: underline;
}                                           
#button
 {
    background-color: #D9EDF9;
    border: 1.5px solid gray;
    border-radius: 5px 5px 5px 5px;
    width:30%;
    height: 10%;
    font-family: "Times New Roman";
}
#button:hover
 {
    border: 1.5px solid #66BCF1;
}
#quotans {
   
  display: none;
    height: 7.4%;
    left: 54.1%;
    position: absolute;
    top: 2%;
    width: 8%;

    
}
#remans {
    display: none;
    height: 7.4%;
    left: 75.6%;
    position: absolute;
    top: 2%;
    width: 7%;
}
#firstlin {
    background-color: red;
    height: 0.7%;
    left: 8%;
    position: absolute;
    top: 22%;
    width: 5%;
    display: none;
}
#secondlin {
    background-color: red;
    height: 0.7%;
    left: 18%;
    position: absolute;
    top: 22%;
    width: 5%;
    display:none;
}