
@font-face {
	font-family: 'Conv_HelveticaLTStd-Light';
	src: url('fonts/HelveticaLTStd-Light/fonts/HelveticaLTStd-Light.eot');
	src: local('?'), url('../../fonts/HelveticaLTStd-Light/fonts/HelveticaLTStd-Light.woff') format('woff'), url('../fonts/HelveticaLTStd-Light/fonts/HelveticaLTStd-Light.ttf') format('truetype'), url('../fonts/HelveticaLTStd-Light/fonts/HelveticaLTStd-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_HelveticaLTStd-Cond';
	src: url('fonts/HelveticaLTStd-Cond/fonts/HelveticaLTStd-Cond.eot');
	src: local('?'), url('../../fonts/HelveticaLTStd-Cond/fonts/HelveticaLTStd-Cond.woff') format('woff'), url('../fonts/HelveticaLTStd-Cond/fonts/HelveticaLTStd-Cond.ttf') format('truetype'), url('../fonts/HelveticaLTStd-Cond/fonts/HelveticaLTStd-Cond.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_HelveticaLTStd-BoldCond';
	src: url('fonts/HelveticaLTStd-BoldCond/fonts/HelveticaLTStd-BoldCond.eot');
	src: local('?'), url('../../fonts/HelveticaLTStd-BoldCond/fonts/HelveticaLTStd-BoldCond.woff') format('woff'), url('../fonts/HelveticaLTStd-BoldCond/fonts/HelveticaLTStd-BoldCond.ttf') format('truetype'), url('../fonts/HelveticaLTStd-BoldCond/fonts/HelveticaLTStd-BoldCond.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_HelveticaLTStd-Blk';
	src: url('fonts/HelveticaLTStd-Blk/fonts/HelveticaLTStd-Blk.eot');
	src: local('?'), url('../../fonts/HelveticaLTStd-Blk/fonts/HelveticaLTStd-Blk.woff') format('woff'), url('../fonts/HelveticaLTStd-Blk/fonts/HelveticaLTStd-Blk.ttf') format('truetype'), url('../fonts/HelveticaLTStd-Blk/fonts/HelveticaLTStd-Blk.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

#freeTrialMessage{
	font-size: 1.1em;
	padding-left: 15px;
	padding-right: 15px;
}

@font-face {
	font-family: 'Conv_HelveticaLTStd-Roman';
	src: url('fonts/HelveticaLTStd-Roman/fonts/HelveticaLTStd-Roman.eot');
	src: local('?'), url('../../fonts/HelveticaLTStd-Roman/fonts/HelveticaLTStd-Roman.woff') format('woff'), url('../fonts/HelveticaLTStd-Roman/fonts/HelveticaLTStd-Roman.ttf') format('truetype'), url('../fonts/HelveticaLTStd-Roman/fonts/HelveticaLTStd-Roman.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


#image{
	background-image:url('../../assets/rewards/BG.png');
	height: 360px;
	width: 730px;
	position: absolute;
	left: 20%;
	top: 150px;
}

#userResponse{
	display: none;
}

.day{
	float: left;
	margin-left: 10px;
	margin-right: 10px;
	text-decoration:underline;
}

.submitButtonAQAD {
	-moz-box-shadow:inset 0px 1px 0px 0px #c1ed9c;
	-webkit-box-shadow:inset 0px 1px 0px 0px #c1ed9c;
	box-shadow:inset 0px 1px 0px 0px #c1ed9c;
	margin-left: 40%;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #9dce2c), color-stop(1, #8cb82b) );
	background:-moz-linear-gradient( center top, #9dce2c 5%, #8cb82b 100% );
	background-color:#9dce2c;
	-webkit-border-top-left-radius:20px;
	-moz-border-radius-topleft:20px;
	border-top-left-radius:20px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-topright:20px;
	border-top-right-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	-moz-border-radius-bottomright:20px;
	border-bottom-right-radius:20px;
	-webkit-border-bottom-left-radius:20px;
	-moz-border-radius-bottomleft:20px;
	border-bottom-left-radius:20px;
	text-indent:0;
	border:1px solid #83c41a;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:40px;
	line-height:40px;
	width:100px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #689324;
	cursor:pointer;
}
.submitButtonAQAD:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8cb82b), color-stop(1, #9dce2c) );
	background:-moz-linear-gradient( center top, #8cb82b 5%, #9dce2c 100% );
	background-color:#8cb82b;
}.submitButtonAQAD:active {
	position:relative;
	top:1px;
}

#prompt{
	   /* Do not display it on entry */
   display: none; 
 
    /* Display it on the layer with index 1001.
       Make sure this is the highest z-index value
       used by layers on that page */
    z-index:1001;
     
    /* make it cover the whole screen */
    position: absolute; 
    top: 0%; 
    left: 0%; 
    width: 100%; 
    height: 130%; 
 	
    /* make it white but fully transparent */
    /*background-color: white; 
    opacity:.00; 
    filter: alpha(opacity=00); */
	
	/*For transperancy*/
	background-color: rgba(0,0,0,0.6);
}

#close_rewards{
	background-image:url('../../assets/rewards/close.png');
	height: 35px;
	width: 35px;
	top: 32%;
	left: 709px;
	position: absolute;
	cursor:pointer;
}

#sparkie{
	background-image:url('../../assets/rewards/sparkies_info.png');
	width:45px;
	height:54px;
	top: 43%;
	left: 8px;
	position: absolute;
}



#badge{
	
	width:137px;
	height:120px;
	position: absolute;
	top: 65%;
	left: 336px;

}

#congrats{
	font-size:1.3em;
	font-family: 'Conv_HelveticaLTStd-Light';
	position: absolute;
	top: 64px;
	left: 12%;
	color:#ed1c24;

}
#congrats_name{
	font-size: 1.5em;
	font-family: 'Conv_HelveticaLTStd-Light';
	position: absolute;
	top: 25%;
	left: 11.5%;
	color:#ed1c24;
}
#desc1{
	color:#ed1c24;
	font-size:1.2em;
	font-family: 'Conv_HelveticaLTStd-Light';
	position:absolute;
	top: 45%;
	left: 219px;
	font-weight:bold;	
}
#desc2{
	font-size:1.2em;
	font-family: 'Conv_HelveticaLTStd-Light';
	position:absolute;
	top: 52%;
	left: 216px;
	color: #666666;
	font-weight:bold;
}
#bottom_info1{
	font-size: 18px;
	font-family: 'Conv_HelveticaLTStd-Light';
	position: absolute;
	color: #ed1c24;
	left: 592px;
	top: 82%;
	font-weight: bold;
}
#bottom_info2{
	font-size: 13px;
	font-family: 'Conv_HelveticaLTStd-Light';
	position: absolute;
	color: white;
	left: 593px;
	width: 82px;
	height: 22px;
	background-color: #ed1c24;
	top: 90%;
	padding-left: 4px;
	padding-right: 2px;
	font-weight: bold;
	border-radius: 2px;
}

.aqadPrompt{
	position: absolute;
	width: 282px;
	height: 190px;
	border: 2px solid gray;
	right: 32.5%;
	top: 14px;
	background-color: white;
	z-index: 999;
}

.aqadPrompt:after, .aqadPrompt:before, .daTestPrompt:after, .daTestPrompt:before {
	left: 100%;
	top: 12%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.aqadPrompt:after, .daTestPrompt:after {
	border-color: rgba(255, 255, 255, 0);
	border-left-color: #fff;
	border-width: 10px;
	margin-top: -10px;
}
.aqadPrompt:before, .daTestPrompt:before {
	border-color: rgba(153, 153, 153, 0);
	border-left-color: gray;
	border-width: 12px;
	margin-top: -12px;
}

.promptHeading{
	font-weight: bold;
	width: 100%;
	margin-top: 8px;
	text-align: center;
	font-size: 1.1em;
}

.closeAqad{
	position: absolute;
	margin-top: 2px;
	right: 8px;
	cursor: pointer;
	color: gray;
	font-size: 1.2em;
}

.aqadOK{
	margin-left: 10px;
	width: 90px;
	color: white;
	font-size: 1em;
	height: 29px;
	line-height: 29px;
	text-align: center;
	background-color: #2e92cf;
	cursor: pointer;
}

.aqadOK:hover{
	background-color: #5c8ca0;
}

.daTestPrompt {
    background-color: white;
    border: 2px solid gray;
    font-size: 14px;
    height: 179px;
    position: absolute;
    right: 40%;
    top: 14px;
    width: 260px;
    z-index: 10;
}

@media (max-width: 1024px){
#image{
	left: 12%;
	top: 135px;
}
.aqadPrompt{
	right: 38.5%;
	top: 8px;
}
.daTestPrompt {
	right: 46%;
	top: 8px;
}
}
.active-link{
	color:blue;
}