#imageContainer{
	position: absolute;
	bottom: 0px;
	right: 0px;
	background-image: url('../assets/child-registration.jpg');
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	background-size: 100%;
	float: right;
	width: 400px;
	height: 500px;
        z-index: -1;
}

#confirm1{
	background: #9EC956;
	color: white;
	padding: 4px !important;
	margin-left: 16px !important;
	padding-left: 20px !important;
	padding-right: 20px !important;
}