#home{
	border-bottom: 1px solid #9ec956;
}

#sideBar #home{
	margin-top: 30%;
}

#container{
	/*position: relative;
	width:72.5%;*/
	min-height:475px;
	/*margin-left:27%;*/
	border-top:1px solid #9ec956;
	border-bottom:1px solid #9ec956;
	border-left:1px solid #9ec956;
}

#innerContainer{
	margin-top: 2%;
	position: relative;
	margin-left: 0%;
	width: 91%;
	height:14.3%;
	margin-left: 5%;
	/*border:1px solid #9ec956;*/
}

#containerHead{
	font-size:1.3em;
	margin-top: 1.5%;

	border-bottom:1px solid #9ec956;
	padding-bottom: 1%;
	display: block;
	
}

#triangle{
	width: 0; 
	height: 0; 
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	margin-top: 0.3%;
	float: left;
	border-left: 6px solid black;
	margin-right: 1.5%;
}

#containerBody{
	font-size:1.0em;
	margin-top: 1.5%;
	display: block;
	height: 100%;
}	



#innerContent{
	border-top: 1px solid black;
	padding-top:5%;
}

#line{
	border:1px solid black;
	
}



#busy{
	color: #9ec956;
	margin-top: 1.2%;
	font-size: 1.5em;
}

.sideHead {
	float:left;
	vertical-align:
	bottom;font-size:medium;
	color:#e52e00;
	font-size:2em;
	font-family: 'Conv_HelveticaLTStd-Cond';
}

.linkToMore {
	float: right;
	vertical-align: top;
	border: 2px solid #e52e00;
	height: 35px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	font-size: 1.8em;
	margin-right: 30px;
	padding-top: 5px;
	text-align: center;
	cursor: pointer;
	color:#000;
	padding-left:5px;
	padding-right:5px;
	font-family: 'Conv_HelveticaLTStd-Cond';
}

.imagediv
{
	/*border:8px ridge #930;*/
	border:8px ridge #D1A355;
	/*border-top:2px solid black;
	border-bottom:2px solid black;
	border-left:4px solid black;
	border-right:4px solid black;*/
	background-color:#FFF;
	vertical-align: middle;	
}
.tagFeature {
	border:2px solid #9ec956;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	color:#9ec956;
	text-align:center;
	padding-top:7px;
	width: 30px;
	height: 23px;
	display:inline-block;
	cursor:pointer;
}

.activityHead {
	font-size:1.0em;
	color:#033342;
	font-family: 'Conv_HelveticaLTStd-BoldCond';
}

.tagGame {
	border:2px solid #9ec956;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	color:#9ec956;
	text-align:center;
	padding-top:7px;
	width: 30px;
	height: 23px;
	display:inline-block;
	cursor:pointer;
}
.tagRemedial {
	border:2px solid #9ec956;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	color:#9ec956;
	text-align:center;
	padding-top:7px;
	width: 30px;
	height: 23px;
	display:inline-block;
	cursor:pointer;
}
.tagEnrichment {
	border:2px solid #9ec956;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	color:#9ec956;
	text-align:center;
	padding-top:7px;
	width: 30px;
	height: 23px;
	display:inline-block;
	cursor:pointer;
}
.tagFeature {
	border:2px solid #9ec956;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	color:#9ec956;
	text-align:center;
	padding-top:7px;
	width: 30px;
	height: 23px;
	display:inline-block;
	cursor:pointer;
}

.titleLink
{
	color:#913410;
}

