#sparkieContainer{
	display:none;
}

#revisionMessage{
	margin-left: 8%;
	margin-top: 40px;
	font-size: 1.4em;
}

#revisionInstruction{
	margin-left: 8%;
	font-size: 1.3em;
}

.buttonRevision{
	margin-right: 30px;
	margin-top: 25px;
	padding: 6px 24px;
	text-decoration: none;
	cursor: pointer;
}

#question{
	font-family: 'Conv_HelveticaLTStd-Light';
	font-size: 1.3em;
	margin-left: 6%;
}

#info_bar{
	position: relative;
	height:120px;
	width:100%;
	-webkit-box-shadow: 0px 3px 2px rgba(50, 50, 50, 0.2);
	-moz-box-shadow:    0px 3px 2px rgba(50, 50, 50, 0.2);
	box-shadow:         0px 3px 2px rgba(50, 50, 50, 0.2);
	overflow-x: hidden;
	overflow-y: hidden;
}

#topic{
	width:60%;
	height:98px;
	float   :left;
	margin-left:7%;
	margin-top:15px;
	 padding: 0px 2px 2px 3px;    
   	border-width: 1px;
   border-bottom-width:1px;
   border-bottom-color:#e52e00;
   border-bottom-style: solid;
   border-left-width:8px;
   border-left-color:#e52e00;
   border-left-style: solid;
}

#lowerClassProgress{
	display:none;
}
#lock{
	display:none;
}

#home{
	position: absolute;
	background: url('../../assets/Home_red.png') no-repeat 0 0;
	width: 50px;
	margin-left:10px;
	height: 43px;
	/*-webkit-transform:scale(0.8,0.8);
	-moz-transform :scale(0.8,0.8);
	-ms-transform :scale(0.8,0.8);
	-o-transform :scale(0.8,0.8);
	transform :scale(0.8,0.8);*/
}

.icon_text{
	position: relative;
	font-size:1em;
	width: 45px;
	text-align:center;
	margin-top:35px;
}

.icon_text1{
	position: relative;
	font-size:1.8em;
	float:left;
	margin-left:10px;
	text-align:center;
	margin-top:45px;
	color:#e52e00;
	margin-left:4px;
	font-family: 'Conv_HelveticaLTStd-BoldCond';
}

#dob{
	font-size:1.3em;
	margin-top:10px;
	float: right;
	margin-right:30px;
}

#topic_name{
	font-size:1.8em;
	width:50%;
	color:#606062;
	float:left;
	margin-left:8%;
	margin-top:20px;
}

#NA{
	font-size:1.1em;
	position:absolute;
	top:165px;
	margin-left:120px;
	text-align: center;
	cursor: pointer;
}

#A{
	font-size:1.1em;
	position:absolute;
	top:165px;
	color:#e52e00;
	text-align: center;
	margin-left:250px;
	cursor: pointer;
}

#formContainer{
	width:100%;
}

#container_form{
	margin-left:8%;
	font-size:16px;
}

#question{
	margin-top:25px;
}

#answer,#currentP,#newP,#retypeP{
	margin-top:15px;
}

.Box{
	height:20px;
	vertical-align:center;
	width:20%;
	margin-top:5px;
	border-color:#e52e00;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}

.Box1{
	height:25px;
	vertical-align:center;
	width:20%;
	margin-top:5px;
	border-color:#e52e00;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}

#submitQuestion{
	margin-top:30px;
	margin-left:35%;
}

#clickText{
	font-size:1.25em;
	color:#000000;
	margin-left:7%;
	margin-top:10px;
}

#activitiesImage{
	height:120px;
	width:160px;
	background-color:grey;
}

#notificationTop{
	float:right;
	background: url('../../assets/new_notification.png') no-repeat 0 0;
	width: 70px;
	height: 70px;
}

#activitiesName{
	font-size:1.3em;
	color:#000000;
	width:160px;
}

#topicName{
	font-size:1.3em;
	color:#e52e00;
	margin-top:5px;
	width:160px;
}



.emote{
	background: url('../../assets/feedback.png') no-repeat 0 -72px;
	width: 64px;
	height: 61px;
	margin-left:5%;
	float: left;
	margin-top:2%;
}


#sparkie_text{
	font-size:16px;
	text-align:center;
}

#wrong_text{
	position: absolute;
	margin-left:10%;
	margin-top:3%;
	color:black;
}

/*span{
	font-size:30px;
	text-align:center;
}*/

#incorrect_text{
	margin-left:30%;
	margin-top:20px;
	color:#000000;
	font-size:1.8em;
}

#next{
	float:left;
	margin-left:7%;
	font-size:12px;
}

#rate{
	position:fixed;
	background: url('../../assets/rate_icon.png') no-repeat 0 0;
	width: 32px;
	height: 32px;
	margin-left:20px;
	z-index:1;
	-webkit-transform:scale(0.9,0.9);
	-moz-transform :scale(0.9,0.9);
	-ms-transform :scale(0.9,0.9);
	-o-transform :scale(0.9,0.9);
	transform :scale(0.9,0.9);
}

#toolContainer{
	position:fixed;
	width: 65px;
	height: 50px;
	margin-left:94%;
	margin-top:240px;
	border: 1px solid #e52e00;
	z-index:2;
	-webkit-transform:scale(0.9,0.9);
	-moz-transform :scale(0.9,0.9);
	-ms-transform :scale(0.9,0.9);
	-o-transform :scale(0.9,0.9);
	transform :scale(0.9,0.9);
}
#toolContainer:after 
{
content: "";
position: absolute;
bottom:0px;
border-style: solid;
border-width: 0px 15px 15px 0;
border-color: #e52e00 transparent;
display: block;
width: 0;
z-index: 2;
-webkit-transform:scale(0.9,0.9);
	-moz-transform :scale(0.9,0.9);
	-ms-transform :scale(0.9,0.9);
	-o-transform :scale(0.9,0.9);
	transform :scale(0.9,0.9);
}

.toolbarText{
	position: relative;
	color:#e52e00;
	margin-top:30px;
}

#confused{
	position:fixed;
	background: url('../../assets/confused.png') no-repeat 0 0;
	width: 27px;
	height: 45px;
	z-index:1;
	margin-top:-270px;
	margin-left:20px;
	-webkit-transform:scale(0.9,0.9);
	-moz-transform :scale(0.9,0.9);
	-ms-transform :scale(0.9,0.9);
	-o-transform :scale(0.9,0.9);
	transform :scale(0.9,0.9);
}

.toolbarText1{
	position: relative;
	color:#e52e00;
	margin-top:45px;
	margin-left:-20px;
}



#bored{
	position:fixed;
	background: url('../../assets/bored.png') no-repeat 0 0;
	width: 27px;
	height: 45px;
	z-index:1;
	margin-top:-215px;
	margin-left:20px;
	-webkit-transform:scale(0.9,0.9);
	-moz-transform :scale(0.9,0.9);
	-ms-transform :scale(0.9,0.9);
	-o-transform :scale(0.9,0.9);
	transform :scale(0.9,0.9);
}

.toolbarText2{
	position: relative;
	color:#e52e00;
	margin-top:45px;
	margin-left:-5px;
}

#excited{
	position:fixed;
	background: url('../../assets/excited.png') no-repeat 0 0;
	width: 27px;
	height: 45px;
	z-index:1;
	margin-top:-155px;
	margin-left:20px;
	-webkit-transform:scale(0.9,0.9);
	-moz-transform :scale(0.9,0.9);
	-ms-transform :scale(0.9,0.9);
	-o-transform :scale(0.9,0.9);
	transform :scale(0.9,0.9);
}

.toolbarText3{
	position: relative;
	color:#e52e00;
	margin-top:45px;
	margin-left:-15px;
}

#dislike{
	position:fixed;
	background: url('../../assets/dislike.png') no-repeat 0 0;
	width: 28px;
	height: 32px;
	z-index:1;
	margin-top:-96px;
	margin-left:20px;
	-webkit-transform:scale(0.9,0.9);
	-moz-transform :scale(0.9,0.9);
	-ms-transform :scale(0.9,0.9);
	-o-transform :scale(0.9,0.9);
	transform :scale(0.9,0.9);
}

.toolbarText4{
	position: relative;
	color:#e52e00;
	margin-top:32px;
	margin-left:-10px;
}

#like{
	position:fixed;
	background: url('../../assets/like.png') no-repeat 0 0;
	width: 28px;
	height: 32px;
	z-index:1;
	margin-top:-49px;
	margin-left:20px;
	-webkit-transform:scale(0.9,0.9);
	-moz-transform :scale(0.9,0.9);
	-ms-transform :scale(0.9,0.9);
	-o-transform :scale(0.9,0.9);
	transform :scale(0.9,0.9);
}

.toolbarText5{
	position: relative;
	color:#e52e00;
	margin-top:33px;
}

#comment{
	position:fixed;
	background: url('../../assets/comment.png') no-repeat 0 0;
	width: 32px;
	height: 34px;
	z-index:1;
	margin-top:55px;
	margin-left:20px;
	-webkit-transform:scale(0.9,0.9);
	-moz-transform :scale(0.9,0.9);
	-ms-transform :scale(0.9,0.9);
	-o-transform :scale(0.9,0.9);
	transform :scale(0.9,0.9);
}

.toolbarText6{
	position: relative;
	color:#e52e00;
	margin-top:33px;
	margin-left:-20px;
}

#elements{
	display:none;
}


.button1 {
	background-color:#e52e00;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	border:1px solid #e52e00;
	display:inline-block;
	color:white;
	font-size:1.1em;
	margin-top:10px;
	margin-left:15px;
	padding:6px 24px;
	text-decoration:none;
}.button1:active {
	position:relative;
	top:4px;
}

.pointed1 {
    position: relative;
    margin: 0 auto;
	margin-top:5px;
	text-align: center;
    width: 75px;
    height: 3px;
    background-color: #e52e00;
}
.pointed1:after,
.pointed1::after {
    position: absolute;
    top: -100%;
    left: 100%;
    margin-left: -60%;
    content: '';
    width: 0;
    height: 0;
    border-bottom: solid 6px #e52e00;
    border-left: solid 6px transparent;
    border-right: solid 6px transparent;
}

.pointed2 {
    position: relative;
    margin: 0 auto;
	margin-top:5px;
	text-align: center;
    width: 75px;
    height: 3px;
    background-color: grey;
}
.pointed2:after,
.pointed2::after {
    position: absolute;
    top: -100%;
    left: 100%;
    margin-left: -60%;
    content: '';
    width: 0;
    height: 0;
    border-bottom: solid 6px grey;
    border-left: solid 6px transparent;
    border-right: solid 6px transparent;
}

@media (max-width: 1024px){
	#progress_bar{
		width:220px;
	}
	#toolContainer{
		margin-left:92%;
	}
	.bubble 
	{
		margin-left:1%;
	}
	#NA{
		top:130px;
	}
	#A{
		top:130px;
	}
}
@media (max-width: 800px){

}
